.m-dashboard-header {
    z-index: 10;
    height: fit-content;
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
    padding:20px 10px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(240, 240, 242);
    transition: background-color 280ms ease;
}


/* .m-dashboard-header h1{
    
    font-family:Pacifico;
    padding: 12px 20px;
    color: orange;
    font-weight:bolder;
    font-size: 19px;
}

.m-dashboard-header h1 span {
    font-family: Pacifico;
    color: skyblue;
} */

.m-dashboard-header div.user {
    display: flex;
    padding: 18px 20px 5px;
    gap: 2vw;
    font-family: Capriola;
    align-items: center;
}
.m-dashboard-header .user figure{
    width: 40px;
    height: 40px;
    background: rgb(55, 14, 109);
    border-radius: 50%;
}
.m-dashboard-header .user .welcome{
   display: flex;
   /* flex-direction: column; */
   gap: 4px;
   align-items: center;
}
.m-dashboard-header .user .welcome p{
   font-weight: light;
   font-size: 17px;
}
.m-dashboard-header .user .welcome h3{
   color: slateblue;
}
.m-dashboard-header nav {
    align-items: center;
    padding: 8px 5px;
    margin-right: 10px;
    display: flex;
    color:white;
    justify-content: space-between;
    width: fit-content;
}
.m-dashboard-header nav figure{
    margin-top: 12px;
    width: fit-content;
    height: fit-content;

}
.m-dashboard-header nav button{
    color: slateblue;
    font-size: 23px;
    border: none;
    background-color: transparent;
    padding: 0px 8px;
}


.m-dashboard-header .engagement-svg svg#menu {
    fill: rgb(75, 84, 94);
    width: 25px;
    height: 25px;
}










/* DASHBOARD MAIN */
.m-dashboard-main {
    background-color:rgb(240, 240, 242);
}
.m-dashboard-main div.welcome {
    height: fit-content;
    border: none;
    border-radius: 17px;
    margin: 10px 22px;
    font-family: Capriola;
    padding: 10px 16px;
}
.m-dashboard-main div.search {
    height: fit-content;
    padding:5px;
    margin:12px 25px;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 17px;
    background-color: white;
}
.m-dashboard-main div.search input{
    border: none;
    padding:10px 15px;
    outline: none;
    width: 99%;
    margin: 5px;
    font-size: 15px;
    font-family: CLashDisplay;
    height: 15px;
}
.m-dashboard-main div.adverts {
    height: 15vh;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 27px;
    margin: 15px 25px 6px;
    padding: 15px;
    background: rgb(14, 15, 33);
}

.m-dashboard-main .categories {
    margin:5px 30px 20px;   
   display: flex;
   justify-content: center;
   align-items: center;
    height:fit-content;
}
.m-dashboard-main p.niche {
    margin: 9px 48px 0px;
    padding: 3px;
    font-size: 13px;
    color: navy;
    font-family:BrunoAce;
}
.m-dashboard-main .niche-scroll {
    display: inline-block;
    position: relative;
    width: fit-content;
}
.m-dashboard-main .category {
    display: inline-grid;
    margin-right: 10px ;
    margin-top: 0px;
    border-radius: 15px;
    padding: 7px 13px;
    background-color: white;
    font-size: smaller;
    transition: background-color 185ms ease-out;
    border: 1px solid slateblue;
}
.m-dashboard-main .arrow-f{
    border-radius: 50%;
    background-color: slateblue;
    display: inline-flex;
    padding: 1px;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    border: 1px solid slateblue;
}
.m-dashboard-main div.menu-bar{
    background-color: transparent;
    position: fixed;
    bottom: 30px;
    left: 2px;
    height: fit-content;
    display: flex;
    width: 99%;
}
.menu-width{
    width: 85vw;
}
.m-dashboard-main div.menu-bar .blunt-fixed-inactive{
    /* background-color: green; */
    width: 100%;
    position: relative;
    height: fit-content;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 250ms ease-in
}
.m-dashboard-main div.menu-bar .blunt-fixed-active{
    background-color: white;
    width: fit-content;
    margin: 0px auto;
    position: relative;
    height: fit-content;
    padding: 2px 6px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 1px 1px 5px grey; */
    transition: width 300ms ease-out
}

.m-dashboard-main .blunt-fixed-inactive .menu-wrap{
    height: fit-content;
    position: relative;
}
.m-dashboard-main .menu-bar div.menus-icon{
    position: relative;
    text-align: center;
    margin: 3px 6px;
    height: 50px;
    width: 50px;
    box-shadow: 1px 1px 5px grey;
    right: 0px;
    border-radius: 50%;
    display: inline-flex;
    transform: scale(1);
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: transform 200ms ease;
    background:linear-gradient(to top left, slateblue 10%, skyblue 60%);
}
.m-dashboard-main .menu-bar div.menus-icon-active{
    position: relative;
    text-align: center;
    margin: 3px 6px;
    height: 50px;
    width: 50px;
    box-shadow: 1px 1px 5px grey;
    right: 0px;
    border-radius: 50%;
    display: inline-flex;
    transform: scale(0.6);
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition:transform 200ms ease;
    background:linear-gradient(to top left, slateblue 10%, skyblue 60%);
}
.m-dashboard-main div svg{
    top: 1px;
    left: 1px;
    height: 98.3%;
    width: 98.3%;
    fill: rgb(255, 255, 255);
    position: relative;
    display: inline-block;
}
.m-dashboard-main .menu-bar .menu{
    background:linear-gradient(to top left, slateblue 10%, skyblue 60%);
    height: 40px;
    width: 40px;
    right: 6%;
    top: 8px;
    position:absolute;
    z-index: 1;
    border-radius: 50%;
    text-align: center;
    color: white;
    pointer-events: none;
    margin: 3px 6px;
    opacity: 1;
    transform: scale(0.8);
    transition: position 420ms ease-out ;
}
.m-dashboard-main .menu-bar .open-menu{
    background:linear-gradient(to top left, slateblue 10%, skyblue 60%);
    height: 40px;
    width: 40px;
    right: 1%;
    top: 1px;
    position:relative;
    z-index: 1;
    border-radius: 50%;
    text-align: center;
    color: white;
    display: inline-block;
    margin: 3px 6px;
    opacity: 1;
    transform: scale(1);
    transition: position 420ms ease-out ;
}