.m-dashboard-header {
    z-index: 10;
    height: fit-content;
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
    padding:8px 10px;
    display: flex;
    justify-content: space-between;
    background-color:white;
    border-bottom: 1px solid rgb(240, 240, 240);
    transition: background-color 280ms ease;
}


.m-dashboard-header h1{
    
    font-family:Pacifico;
    padding: 10px 20px;
    color: rgb(255, 197, 8);
    font-weight:bolder;
    font-size: 23px;
}

.m-dashboard-header h1 span {
    font-family: Pacifico;
    color: darkturquoise;
}
.m-dashboard-header nav {
    align-items: center;
    padding: 8px 5px;
    margin-right: 10px;
    display: flex;
    color:white;
    justify-content: space-between;
    width: 40%;
}
.m-dashboard-header nav button{
    color: slateblue;
    font-size: 23px;
    border: none;
    background-color: transparent;
    padding: 0px 8px;
}

.m-dashboard-header nav figure{
    width: 35px;
    height: 35px;
    background: black;
    border-radius: 50%;
}

.m-dashboard-header div.svg {
    height: 25px;
    width: 25px;
    display: inline-block;
}
.m-dashboard-header .svg svg {
    fill: slategray;
}