div.m-dashboard {
    width: 100vw;
    overflow-x: hidden;
    position: relative;
    height: 100vh;
    overflow-y: scroll;
}
.m-dashboard-header {
    z-index: 10;
    height: 70px;
    width: 100vw;
    padding:6px 14px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    backdrop-filter: blur(20px);
    transition: background-color 280ms ease;
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
    box-sizing: border-box;
    box-shadow: 0px 1px 5px #f5f5f5;
}
.m-dashboard-header div.logo-wrap {
    display: flex;
    padding: 4px;
    font-family: Capriola;
    align-items: center;
}
.m-dashboard-header nav {
    position: relative;
    top: -4px;
    align-items: center;
    padding:  5px 8px;
    display: flex;
    color:white;
    justify-content: space-between;
    height: fit-content;
    gap: 8px;
    width:fit-content;
    box-sizing: border-box;
}
.m-dashboard-header nav figure.notify{
    margin-top: 11px;
    width: fit-content;
    height: fit-content;
    padding: 2px 4px;
    position: relative;
}
.m-dashboard-header nav figure.notify .alert{
    width: 1px;
    height: 1px;
    background-color: orange;
    padding: 3px;
    border-radius: 50%;
    position: absolute;
    right: 25%;
    top: 19%;
    z-index: 1;
}
.m-dashboard-header nav figure.notify svg{
    position: relative;
    top: 2px;
}
.m-dashboard-header nav figure#profile-pic{
    width: 34px;
    height: 34px;
    background: rgb(55, 14, 109);
    border-radius: 50%;
    position: relative;
    top: 4px;
    overflow: hidden;
    border: 1px solid #dcdcdc;
}
.m-dashboard-header nav button{
    color: slateblue;
    font-size: 23px;
    border: none;
    background-color: transparent;
    padding: 0px 8px;
}


.m-dashboard-header .engagement-svg svg#menu {
    fill: rgb(75, 84, 94);
    width: 25px;
    height: 25px;
}






/* DASHBOARD MAIN */
.m-dashboard-main {
    background-color: #fff;
    overflow-x: hidden;
    position: relative;
    width: 100vw;
    padding-bottom: 60px ;
    transition:filter 0.4s ease-in-out;
}

.m-dashboard-main div.feeds {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
}
.m-dashboard-main div.feeds p.feed-text{
    margin: 15px 15px 0px;
    padding:0px 3px;
    font-size: 15px;
    text-decoration: wavy;
    color: orange;
    font-family:LuckiestGuy;
    box-sizing: border-box;
}

.m-dashboard-main div.feeds div.feed-header {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto 10px;
    box-sizing: border-box;
    gap: 3%;
}
.m-dashboard-main div.feeds div.feed-header p.feed-type{
    color: rgb(62, 62, 62);
    padding: 4px 9px;
    font-size: 14px;
    font-family: Inter;
    width: fit-content;
    height: fit-content;
}
.m-dashboard-main div.feeds div.feed-header p.feed-type.active{
    color: slateblue;
    padding: 4px 9px;
    background-color: #f1f1f1;
    width: fit-content;
    height: fit-content;
    font-size: 14px;
    border-radius: 9px;
    font-family: Inter;
}








/* 
.m-dashboard-main .advert-wrapper{
    margin:10px 24px 7px ;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    position: relative;
    height: fit-content;
    width: 90vw;
}
.m-dashboard-main .advert-wrapper::before{
    content: "";
    z-index: 2;
    position: absolute;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    right: -10px;
    box-shadow: -23px 0px 25px 5px white inset;
} 
div.advert-wrapper::-webkit-scrollbar {
   display: none;
   background-color: transparent;
}
.m-dashboard-main div.adverts{
    margin: 0px 5px;
    width: max-content;
    position: relative;
}
.m-dashboard-main .adverts div.advert{
    scroll-snap-align: start; 
    height: 170px;
    width: 49vw;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 23px; 
    margin: 5px 15px 5px 1px;
    padding: 15px;
    background-color: transparent;
    overflow: hidden;
    z-index: 1;
    position: relative;
    display: inline-block;
}
.m-dashboard-main .adverts div.advert::before {
    content: "";
    top: 20%;
    right: 20%;
    filter: blur(17px);
    z-index: -1;
    background:linear-gradient(to right bottom,rgb(255, 148, 60),rgb(121, 121, 255) 80%);
    border-radius:50% ;
    height: 40%;
    aspect-ratio: 1;
    position: absolute;
    transform: scale(5) rotate(0deg);
}

.m-dashboard-main .categories {
    font-family: Inter;
    margin:5px 1px 20px 26px;  
    display: flex;
    align-items: center;
    justify-content: space-around;
    height:fit-content;
    gap: 3px;
}
.m-dashboard-main p.niche {
    margin: 9px 30px 0px;
    padding: 3px;
    font-size: 15px;
    text-decoration: wavy;
    color: orange;
    font-family:LuckiestGuy;
}
.m-dashboard-main .category {
    display: inline-block;
    border-radius: 15px;
    padding: 8px 11px;
    background-color: white;
    font-size: smaller;
    transition: background-color 185ms ease-out;
    border: 1px solid slateblue;
}
.m-dashboard-main .arrow-f{
    border-radius: 27px;
    background-color: slateblue;
    padding: 8px 11px;
    border: 1px solid rgb(255, 255, 255);
    color: white;
    font-size: smaller;
    line-height: 120%;
    margin-right: 10px;
} */


.m-dashboard-main .feeds div.feed{
    margin: 7px 0px;
    height: fit-content;
    width: 97%;
    background-color: white;
    border-top: 1px solid #e8e8e8;
    box-sizing: border-box;
}
.m-dashboard-main .feed div.feed-head{
    width:98%;
    display: flex;
    gap: 6px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 6px 10px 0px;
}
.m-dashboard-main .feed-head div.content-author{
    display: flex;
    gap: 6px;
    width: 60%;
    justify-content: flex-start;
    align-items: center;
}
.m-dashboard-main .feed-head .content-author figure{
    /* margin: 0px 4px; */
    width:26px ;
    height: 26px;
    border: 1px solid rgb(60, 60, 60);
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
}
.m-dashboard-main .feed-head .content-author figure img{
    height: 100%;
    width: 100%;
}
.m-dashboard-main .feed-head .content-author p.author-name{
    font-family:  'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color: grey;
    font-weight: medium;
    font-size: 11px;
    padding: 5px 1px;
    width:70%;
}
.m-dashboard-main .feed-head p.date-published{
    padding: 3px 6px;
    font-size: 11px;
    font-family: Inter;
}
.m-dashboard-main .feed div.feed-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 5px 5px 0px;
}
.m-dashboard-main .feed-content .content-texts {
  height: fit-content;
  width: 98%;
  margin-bottom: 6px;
}
.m-dashboard-main .feed-content .content-texts p.content-title{
    font-weight: bold;
    font-family:  Noto Sans;
    font-size: 15px;
    padding: 3px;
    height: fit-content;
    width: 100%;
}
.m-dashboard-main .content-image{
    width: 98%;
   
}
.m-dashboard-main .content-image img{
    width: 100%;
    aspect-ratio: 1.8;
    border-radius: 12px;
    /* height: 100%; */
}
.m-dashboard-main .feed div.feed-foot{
    width: 100%;
    display: flex;
    gap: 6px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 3px 5px;
}
.m-dashboard-main .feed div.feed-foot div.engagement-wrap{
    display: flex;
    justify-content: space-between;
    width: 58%;
}
.m-dashboard-main .feed div.feed-foot p.engagements{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: fit-content;
}
.m-dashboard-main .feed div.feed-foot p.engagements span{
    position: relative;
    top: 2px;
    font-size: 12px;
    color:rgb(60, 60, 60);
}












.m-dashboard div.profile{
    background-color:#ffffff;
    backdrop-filter: blur(10px) brightness(0.96);
    overflow-x: hidden;
    position:absolute;
    height: 78%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 200;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    transition:height 0.29s ease-out;
}
.m-dashboard-main.blurred {
    filter:brightness(0.5) ;
}
.m-dashboard div.profile.inactive{
    height: 0%;
}
.m-dashboard div.menu-bar{
    background-color: white;
    position: fixed;
    bottom: 0px;
    border-top: 1px solid #f1f1f1;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    left: 0px;
    right: 0px;
    z-index: 100;
    overflow-x: hidden;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
}

.m-dashboard .menu-bar p{
    position: relative;
}

