.header {
    z-index: 30;
    height: 70px;
    position: sticky ;
    top: 0px;
    left: 0px;
    right: 0px;
    padding:6px 14px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background-color:white;
    transition: background-color 280ms ease;
    border-bottom: 1px solid #f1f1f1;
}

div.logo-wrap{
    padding:4px;
    display: flex;
    align-items: center;
    width: fit-content;
    justify-content: center;
    gap: 4px;
}

.active {
    background-color: white;
}

.header h1.landing{
    
    font-family:Pacifico;
    padding: 5px;
    color: slateblue;
    font-weight:bolder;
    font-size:17px;
}

.header nav {
    align-items: center;
    padding: 8px 2px;
    display: flex;
    color:white;
    justify-content: center;
    gap:7px;
}

/* .desktop ul li{
    list-style: none;
    display: inline-block;
    padding: 5px;
    margin: 6px;
    transition: color 150ms linear;
}
.desktop ul li:hover{
    color: rgb(200, 245, 255);
    list-style: none;
    display: inline-block;
    padding: 5px;
    margin: 6px;
} */

.header nav button{
    display: inline-block;
    border-radius: 14px;
    font-weight: 600;
    border: 2px solid slateblue;
    padding: 6px 12px;
    color:slateblue;
    margin:0px 8px;
    background-color: white;
    font-size: 13px;
    font-family: Inter;
    transition: background-color 200ms ease, border 200ms ease;
}
.header nav button:hover {
    color: white;
    background-color: rgb(135, 120, 235);
    transition:  background-color 150ms ease;
}
.nav-button {
    color: white;
    background-color: rgb(255, 103, 48);
    border: 1px solid rgb(255, 103, 48);
}
.header div.svg {
    height: 27px;
    width: 27px;
    display: inline-block;
}
.main-svg {
    height: 100%;
    width: 100%;
    position: relative;
    fill: slateblue;
    transition: fill 200ms ease;
}
.nav-svg {
    fill: slateblue;
}


.toggle-menu {
    position: absolute;
    height: 100vh;
    overflow-x: hidden;
    background-color:white;
    width: 310px;
    top: calc(0px );
    right: calc(0px);
    z-index: 20;
    transition: width 200ms ease;
}
.toggle-off {
    width: 0px;
}
div.menu-header {
   height: 49px;
   color: black;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   padding: 10px 20px;
   border-bottom: 1px solid rgb(245, 245, 245);
}
.scroll{
    position: fixed;
    top: var(--scrollY);
}
div.menu-main {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu-main ul {
    display: flex;
    list-style: none;
    width: 98%;
    
}
.menu-main ul a {
    text-align: center;
    border-radius: 2px;
    font-weight: 500;
    line-height: normal;
    border: 1px solid gray;
    width: 47%;
    color: slateblue;
    text-decoration: none;
    margin: 5px;  
    padding: 15px;
    font-weight: 600;
}
