div.dialog-box {
    position: absolute;
    right: calc(0% - 2px);
    width: 55vw;
    background-color: white;
    border: 1px solid darkturquoise;
    height: 23vh;
    border-radius: 10px;
    padding: 10px;
}

div.dialog-off{
    z-index: -5;
    opacity:0 ;
    top: calc(95%);
    pointer-events: none;
    transition: top 100ms ease-out, opacity 80ms ease-in;
}
div.dialog-on{
    z-index: 5;
    opacity: 1;
    top: calc(100% + 10px) ;
    transition: top 100ms ease-out, opacity 80ms ease-in;
}


.dialog-box .terminator {
    display: flex;
    justify-content: flex-end;
    padding: 0px 10px;
    margin-bottom: 5px;
}
.dialog-box p{
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
    color: slateblue;
    padding: 4px;
    margin-bottom: 10px;
}
.dialog-box p#addimage {
    text-align: center;
    font-size: small;
    cursor: pointer;
    color: slateblue;
    border-radius: 5px;
    background-color: gainsboro;
    padding: 5px 13px;
    width: fit-content;
    margin: 2px auto;
    text-align: center;
    border: 1px solid slategray;
    display: block;
}
.dialog-box input{
    padding: 5px;
    margin-bottom: 15px;
    width: 90%;
    border-radius: 5px;
}

















.mobile-new .post-wrap .post-setup{
    width: 100%;
    position: relative;
}
.mobile-new .post-wrap .post-setup p.title{
    font-weight: 600;
    font-size: 14px;
    margin-left: 10px;
} 
.mobile-new .post-wrap .post-setup fieldset{
    margin: 8px 5px;
    border-radius: 7px;
    padding: 7px;
    border: 2px solid #b6b6b6;
    font-size: 14px;
}
.mobile-new .post-wrap .post-setup fieldset legend{
    margin: 0px 15px;
    padding: 2px 5px;
    font-size: 13px;

}
.mobile-new .post-wrap .post-setup fieldset p.input-wrap{
    margin: 0px 0px 5px;
    padding: 2px;
}
.mobile-new .post-wrap .post-setup  p.tag-title{
    margin: 8px 5px;
    font-size: 13px;
}
.mobile-new .post-wrap .post-setup  div.add-tag{
    margin: 8px 5px;
    padding: 9px;
    box-shadow: 0px 0px 3px rgb(135, 135, 135);
}
.mobile-new .post-wrap .post-setup .add-tag div.added{
    display: inline-block;
}
.mobile-new .post-wrap .post-setup .add-tag .added p.tag{
    display: inline-block;
    background-color: #e8e8e8;
    width: fit-content;
    padding: 2px 5px;
    margin-right: 7px;
    font-size: 13px;
    border-radius: 3px;
    color: black;
    border: 1px solid rgb(220, 220, 220);
}
.mobile-new .post-wrap .post-setup .add-tag input{
    outline: none;
    size: auto;
    border: none;
    font-size: 12px;
    width: 40%;
}