div.dialog-main {
    position: absolute;
    background-color: cyan;
    top: 0px;
    bottom: 0px;
    /* right: 0px;
    left: 0px; */
    display: flex;
    justify-content:center ;
    align-items: center;
    z-index: -5;
    opacity: 0.5;
    transition: opacity 200ms ease-in, z-index 200ms ease-in;
    width: 90%;
    height: fit-content;
    padding: 20px;
}
.dialog-main.on {
    z-index: 5;
    opacity: 1;
}

div.dialog-content {
    width: 60vw;
    background-color: white;
    border: 1px solid orange;
    height: 23vh;
    border-radius: 10px;
    border: 1px solid rgb(165, 165, 165);
    transform: scale(0.5);
    transition: transform 200ms ease-in-out;
    padding: 10px;
}

.dialog-main.on div.dialog-content{
    width: 60vw;
    background-color: white;
    border: 1px solid orange;
    height: 23vh;
    border-radius: 10px;
    border: 1px solid rgb(165, 165, 165);
    transform: scale(1);
    padding: 10px;
}


.dialog-content .terminator {
    display: flex;
    justify-content: flex-end;
    padding: 0px 10px;
    margin-bottom: 5px;
}
.dialog-content p{
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
    color: slateblue;
    padding: 4px;
    margin-bottom: 10px;
}
.dialog-content p#addimage {
    text-align: center;
    font-size: small;
    cursor: pointer;
    color: slateblue;
    border-radius: 5px;
    background-color: gainsboro;
    padding: 5px 13px;
    width: fit-content;
    margin: 2px auto;
    text-align: center;
    border: 1px solid slategray;
    display: block;
}
.dialog-content input{
    padding: 5px;
    margin-bottom: 15px;
    width: 90%;
    border-radius: 5px;
}