div.dialog-box {
    position: absolute;
    right: calc(0% - 2px);
    width: 55vw;
    background-color: white;
    border: 1px solid darkturquoise;
    height: 23vh;
    border-radius: 10px;
    padding: 10px;
}

div.dialog-off{
    z-index: -5;
    opacity:0 ;
    top: calc(95%);
    transition: top 100ms ease-out, opacity 80ms ease-in;
}
div.dialog-on{
    z-index: 5;
    opacity: 1;
    top: calc(100% + 10px) ;
    transition: top 100ms ease-out, opacity 80ms ease-in;
}


.dialog-box .terminator {
    display: flex;
    justify-content: flex-end;
    padding: 0px 10px;
    margin-bottom: 5px;
}
.dialog-box p{
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
    color: slateblue;
    padding: 4px;
    margin-bottom: 10px;
}
.dialog-box p#addimage {
    text-align: center;
    font-size: small;
    cursor: pointer;
    color: slateblue;
    border-radius: 5px;
    background-color: gainsboro;
    padding: 5px 13px;
    width: fit-content;
    margin: 2px auto;
    text-align: center;
    border: 1px solid slategray;
    display: block;
}
.dialog-box input{
    padding: 5px;
    margin-bottom: 15px;
    width: 90%;
    border-radius: 5px;
}