
main{
    font-family:   Arial, sans-serif;
    
}
.mobile-main {
    display: flex;
    flex-direction: column;
}
.mobile-main .h1-tag{
   background-color: slateblue;
    padding: 20px 20px 45px;
}

.mobile-main .h1-tag h1 {
    line-height: 142%;
    font-family:  RubikMoonrocks, Capriola, Arial, Helvetica, sans-serif;
    /* font-family: sans-serif; */
    font-weight: 900;
    margin-top: 25px;
    padding: 0px 10px;
    font-size: 41px;
    /* color: rgb(0, 243, 247); */
    /* color: rgb(97, 253, 136); */
    color: var(--dynamite);
    /* color: transparent;
    background-image: linear-gradient(to right, orange, blueviolet);
    background-clip: text; */
}
.mobile-main .h1-tag h1 span {
    font-family: Capriola;
    color: rgb(201, 201, 201);
}
.mobile-main .h1-tag p#cta{
    margin-top: 20px;
    padding: 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 200;
    font-size: large;
    line-height: 25px;
    text-align: center;
    color: white;
}
.mobile-main .h1-tag p button{
    
    margin-top: 28px;
    font-size: large;
    font-weight: 900;
    outline: none;
    border: none;
    padding: 8px 15px;
    font-weight: 200;
    border-radius: 25px;
    color: black;
    background-image:  linear-gradient(to bottom,#ffdb98,#7b6aef);
    transition: transform 0.2s ease;
}
.mobile-main .h1-tag p button:hover{
   
   transform: scale(1.06)
}

/* FEATURED */
.mobile-main div.featured{
    padding: 20px;
    background-color: white;
    height:fit-content;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}
.mobile-main .featured p#reads {
    display: inline-block;
    padding: 20px 10px 15px;
    font-weight: 600;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(126, 126, 126);
}
.featured div.reads {
    margin: 7px 0px 0px 10px;
    padding: 10px;
    background-color: white;
    /* border-radius: 10px; */
    box-shadow: 1px 1px 0px rgba(173, 173, 173, 0.747);
}
.mobile-main div.read_id {
    display: flex;
    align-items: center;
}
.mobile-main div.read_id figure {
    display: inline-block;
    padding: 5px;
    width: 13px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:50% 10%;
    height: 13px;
   background-image: url(../contents/images/githubpic.jpeg);
}
.mobile-main figure img {
    width: 100%;
    height: 100%;
}
.mobile-main div.read_id figure ~ h5 {
    display: inline-block;
    margin:0px 8px;
    font-weight:normal;
    font-size: 12px;
    width: 54%;
    overflow-x:hidden ;
}
.mobile-main div.read_id p {
    font-weight:normal;
    font-size: 12px;

}
.mobile-main .reads h4 {
    margin-top: 6px;
    font-weight:bolder;
    font-size:14px;
    
}
.mobile-main .reads #engagement {
    padding: 7px 0px 0px;
    display: flex;
   justify-content: flex-start;
    font-size: x-small;
    font-weight: 100;
    gap: 30px;
}
.mobile-main div#engagement  div{
    display: flex;
    align-items: center;
    gap: 5px;
}
.mobile-main div.engagement-svg svg{
    width: 20px;
    height: 20px;
    
}


/* NICHE CONTENT */
.mobile-main .niche-content {
    padding: 20px;
}
.mobile-main .niche-content #niche {
    display: inline-block;
    padding: 20px 10px 7px;
    font-weight: 600;
    margin-left: 10px;
    font-size: 16px;
    color: rgb(94, 94, 94);
}
.mobile-main .category {
    padding: 10px;
}
.mobile-main .categories {
    display: inline-grid;
    margin-right: 10px ;
    margin-top: 10px;
    border-radius: 15px;
    padding: 9px 13px;
    background-color: #ffedde;
    font-size: smaller;
    transition: background-color 400ms ease-out;
    border: none;
}
.mobile-main .categories:hover {
    background-color: rgb(224, 219, 252);
}
.mobile-main .niche-content .see {
    cursor: pointer;
    display: block;
    margin: 10px;
    padding: 5px ;
    font-size: smaller;
    color: rgb(149, 141, 179);
}
.mobile-main #arrow {
    display: inline-block;
    transition: transform 200ms ease-out;
}
.mobile-main #see {
    display: inline-block;
    transform: translateX(18px);
}
.mobile-main .see:hover #arrow{
    transform: translateX(12px);
    color: #ffbb28;
}


/* PODCAST */

.mobile-main div#podcast1 {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(107, 93, 93) ;
    padding:7px 20px ;
    position: relative;
    z-index: -1;
    display: flex;
    gap:-10px;
    margin-bottom: 55px;
    background-color: rgb(170, 214, 255);
}
.mobile-main #podcast1 .podcast1-gradient {
    position: relative;
    z-index: -1;
    width: 40%;
    background-image:url(../contents/images/podcaster.jpeg) ;
    background-repeat: no-repeat;
    background-clip: border-box;
    border: 1px solid white;
    background-size: cover;
    background-position:90% 50%;
    border-radius:62% 38% 38% 62% / 31% 51% 49% 69% ;
  right: 27px;
}
.mobile-main #podcast1 .podcast1-wrapper {
    z-index: 2;
    flex-direction: column;
    width: 60%;
    display: flex;
    margin-left: 6px;
}
.mobile-main #podcast1 h2 {
    padding: 0px 10px;
    font-family: SupermercadoOne;
    font-size: x-large;
    width: 60%;
   display: inline-block;
}
.mobile-main #podcast1 article {
    padding: 13px 5px;
    margin-left: 5px;
    width: 80%;
    color: rgb(31, 26, 26);
    font-size: 15px;
}
.mobile-main #podcast1 button {
    z-index: 3;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    color:rgb(255, 255, 255);
    background-color: rgb(255, 102, 14);
    font-weight: 700;
    margin-left: 7px;
    width: fit-content;
}


/* LIFECYCLE */
.mobile-main section.lifecycle {
    height: 400px;
    margin-bottom: 55px;
}
.mobile-main div.lifecycle-header {
   display: flex;
   align-items: center;
}
.mobile-main section.lifecycle p#question-mark {
    display: inline-block;
    margin-left: 20px;
    transform: rotate(11deg);
}
.mobile-main section.lifecycle h2 {
    padding: 5px;
    display: inline-block;
    font-family: RubikMoonrocks;
    color:transparent;
    background: linear-gradient(to right, #9b95f1 3%, rgb(49, 197, 255) 20%, #ffcc6d);
    background-clip: text;
    text-align: center;
}
.mobile-main div.lifecycle-content {
   margin-left: 25px;
   margin-top: 10px;
 }
.mobile-main div.lifecycle-content div.phase {
   display: block;
 }
 .mobile-main .phase  div.phase-wrap{
    background-color: rgb(121, 236, 121);
    position: relative;
    display: inline-block;
    padding: 5px;
    border-radius: 140px;
    height: fit-content;
    padding: 12px 25px;
 }
 .mobile-main div.phase-wrap p {
    position: relative;
    font-size: 17px;
    font-weight: bold;
    color: white;
    width: 70px;
    text-align: center;
 }
 /* .mobile-main div.lifecycle-content div:nth-child(2){
    
 }
 .mobile-main div.lifecycle-content div:last-child{
    
    color: #ffcc6d;
 } */
 



/* REVIEWS */
.mobile-main section.review-wrapper {
    height: fit-content;
}
.mobile-main .review-wrapper .review-header{
    font-weight: 200;
    display: inline-block;
    font-size:20px ;
    margin: 8px 27px;
    font-family: BrunoAce;
    
    background: linear-gradient(to left top, #a4d6ff, #6969e0);
    padding: 4px 6px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    color: white;
}
.mobile-main .review-wrapper div.reviews{
    margin: 0px 20px;
    background-color: white;
    height:fit-content;
    overflow-x: scroll;
    width:90vw ;
    position: relative;
}
.mobile-main .reviews div.review-scroll {
    width: max-content;
}
.mobile-main .reviews .review-scroll div.rev {
    width: 75vw;
    display: inline-block;
    margin: 0px 15px 10px 3px;
    padding: 15px;
    background-color: white;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    border: 2px solid orange;
    height: calc(205px);
}
.mobile-main .reviews .review-scroll div.rev figure {
    display: inline-block;
    padding: 5px;
    border-radius: 50%;
    width: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:50% 10%;
    height: 30px;
    background-image: url(../contents/images/githubpic.jpeg);
    margin-left: 10px;
    border: 2px solid skyblue;
}
.mobile-main section.review-wrapper figure img {
    width: 100%;
    height: 100%;
}
.mobile-main .reviews .review-scroll div.rev .review-content {
    font-weight: bolder;
    margin-top: 3px;
    padding: 5px;
    height: 55px;
    overflow-y: scroll;
}
.mobile-main .reviews .review-scroll div.rev div.review-id {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-top: 9px;
    border-top: 2px solid skyblue;
    margin-left: 5px;
    padding: 5px 0px;
    width: fit-content;
}
.mobile-main .review-scroll div.rev .review-id h5 {
    display: inline-block;
    font-size: 14px;
}
.mobile-main .review-scroll div.rev .review-id p {
    display: inline-block;
    font-size: 12px;
     margin-top: 5px;
}
.mobile-main .review-wrapper .review-scroller {
    display: flex;
    justify-content: center;
    margin: 5px 20px; 
    gap: 15px;
}
.mobile-main .review-wrapper .review-scroller div{
  padding: 0px 5px;
}
.mobile-main div.engagement-svg svg {
    width: 30px;
    height: 30px;
    fill: #9e93e6;
}