div.about {
    position: relative;
    height: 100vh;
    background-image: url(../contents/images/pebbles.webp);
    background-repeat: no-repeat;
    background-color: slateblue;
    background-size: cover;
    background-position: 70% 50%;
    font-family: ClashDisplay;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div.about-filter {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background:linear-gradient(to bottom, white 20px, orange, slateblue);
    opacity: 0.5;
}
div.about-content {
    margin: 50px 25px;
    padding: 25px 10px;
    position: relative;
    z-index: 1;
    box-shadow: 0px 3px 6px grey;
    border-radius: 5px;
    background-color: white;
    opacity: 0.9;
}
.about-content h1{
    padding: 15px 20px;
    background-color: white;
    opacity: 0.9;
}
div.about-content p{
    padding: 20px;
    background-color: white;
    opacity: 0.92;
}