        main{
        font-family:   Arial, sans-serif;
        
    }
    .tab-main {
        display: flex;
        flex-direction: column;
    }
    .tab-main .h1-tag{
       background-color: slateblue;
        padding: 20px;
    }
    
    .tab-main .h1-tag h1 {
        line-height: 142%;
        font-family:  RubikMoonrocks, Capriola, Arial, Helvetica, sans-serif;
        font-weight: 900;
        margin-top: 25px;
        padding: 0px 10px;
        font-size: 41px;
        color: var(--dynamite);
        /* color: transparent;
        background-image: linear-gradient(to right, orange, blueviolet);
        background-clip: text; */
    }
    .tab-main .h1-tag h1 span {
        font-family: Capriola;
        color: rgb(201, 201, 201);
    }
    .tab-main .h1-tag p#cta{
        margin-top: 20px;
        padding: 10px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 200;
        font-size: large;
        line-height: 25px;
        text-align: center;
        color: white;
    }
    .tab-main .h1-tag p button{
        
        margin-top: 35px;
        font-size: large;
        font-weight: 900;
        outline: none;
        border: none;
        padding: 8px 15px;
        font-weight: 200;
        border-radius: 25px;
        color: black;
        background-image:  linear-gradient(to bottom,#ffdb98,#7b6aef);
        transition: transform 0.2s ease;
    }
    .tab-main .h1-tag p button:hover{
       
       transform: scale(1.06)
    }
    
    /* FEATURED */
    .tab-main div.featured{
        padding: 20px;
        background-color: white;
        height:fit-content;
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
    }
    .tab-main .featured p#reads {
        display: inline-block;
        padding: 20px 10px 15px;
        font-weight: 600;
        margin-left: 10px;
        font-size: 16px;
        font-weight: 600;
        color: rgb(126, 126, 126);
    }
    .tab-main .featured div.reads {
        margin: 7px 0px 0px 10px;
        padding: 10px;
        background-color: white;
        /* border-radius: 10px; */
        box-shadow: 1px 1px 0px rgba(173, 173, 173, 0.747);
    }
    .tab-main div.read_id {
        display: flex;
        align-items: center;
    }
    .tab-main div.read_id figure {
        display: inline-block;
        padding: 5px;
        width: 13px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position:50% 10%;
        height: 13px;
       background-image: url(../../contents/images/githubpic.jpeg);
    }
    .tab-main figure img {
        width: 100%;
        height: 100%;
    }
    .tab-main div.read_id figure ~ h5 {
        display: inline-block;
        margin:0px 8px;
        font-weight:normal;
        font-size: 12px;
        width: 54%;
        overflow-x:hidden ;
    }
    .tab-main div.read_id p {
        font-weight:normal;
        font-size: 12px;
    
    }
    .tab-main .reads h4 {
        margin-top: 6px;
        font-weight:bolder;
        font-size:14px;
        
    }
    .tab-main .reads #engagement {
        padding: 7px 0px 0px;
        display: flex;
       justify-content: flex-start;
        font-size: x-small;
        font-weight: 100;
        gap: 30px;
    }
    .tab-main div#engagement  div{
        display: flex;
        align-items: center;
        gap: 5px;
    }
    .tab-main div.engagement-svg svg{
        width: 15px;
        height: 15px;
        
    }
    
    
    /* NICHE CONTENT */
    .tab-main .niche-content {
        padding: 20px;
    }
    .niche-content #niche {
        display: inline-block;
        padding: 20px 10px 7px;
        font-weight: 600;
        margin-left: 10px;
        font-size: 16px;
        color: rgb(94, 94, 94);
    }
    .tab-main .category {
        padding: 10px;
    }
    .tab-main .categories {
        display: inline-grid;
        margin-right: 10px ;
        margin-top: 10px;
        border-radius: 15px;
        padding: 9px 13px;
        background-color: #ffedde;
        font-size: smaller;
        transition: background-color 400ms ease-out;
        border: none;
    }
    .tab-main .categories:hover {
        background-color: rgb(224, 219, 252);
    }
    .tab-main .niche-content .see {
        cursor: pointer;
        display: block;
        margin: 10px;
        padding: 5px ;
        font-size: smaller;
        color: rgb(149, 141, 179);
    }
    .tab-main #arrow {
        display: inline-block;
        transition: transform 200ms ease-out;
    }
    .tab-main #see {
        display: inline-block;
        transform: translateX(18px);
    }
    .tab-main .see:hover #arrow{
        transform: translateX(12px);
        color: #ffbb28;
    }
    
    
    /* PODCAST */
    
    .tab-main div#podcast1 {
        font-family: Tahoma, Geneva, Verdana, sans-serif;
        color:rgb(107, 93, 93) ;
        padding:7px 20px ;
        position: relative;
        z-index: -1;
        display: flex;
        gap:-10px;
    }
    .tab-main #podcast1 .podcast1-gradient {
        position: relative;
        z-index: -1;
        width: 40%;
        background-image:url(../../contents/images/podcaster.jpeg) ;
        background-repeat: no-repeat;
        background-clip: border-box;
        border: 1px solid white;
        background-size: cover;
        background-position:90% 50%;
        border-radius:62% 38% 38% 62% / 31% 51% 49% 69% ;
      right: 27px;
    }
    .tab-main #podcast1 .podcast1-wrapper {
        z-index: 2;
        flex-direction: column;
        width: 60%;
        display: flex;
        margin-left: 6px;
    }
    .tab-main #podcast1 h2 {
        padding: 0px 10px;
        font-family: SupermercadoOne;
        font-size: x-large;
        width: 60%;
       display: inline-block;
    }
    .tab-main #podcast1 article {
        padding: 13px 5px;
        margin-left: 5px;
        width: 80%;
        color: rgb(31, 26, 26);
        font-size: 15px;
    }
    .tab-main #podcast1 button {
        z-index: 3;
        padding: 10px 15px;
        border-radius: 10px;
        border: none;
        color:rgb(255, 255, 255);
        background-color: rgb(255, 102, 14);
        font-weight: 700;
        margin-left: 7px;
        width: fit-content;
    }
    
    
    
    /* REVIEWS */
    .tab-main div.reviews{
        background-color: white;
        height:fit-content;
        display: flex;
        flex-direction: column;
       align-items: flex-end;
    }
    .tab-main .reviews div.rev {
        width: 70vw;
        margin: 15px 20px;
        padding: 15px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 1px 4px rgba(173, 173, 173, 0.747);
    }
    .tab-main div.rev_id {
        display: flex;
        align-items: center;
    }
    .tab-main div.rev figure {
        display: inline-block;
        padding: 5px;
        border-radius: 50%;
        width: 15px;
        background-repeat: no-repeat;
        /* background-clip: content-box; */
        background-size: cover;
        background-position:50% 10%;
        height: 15px;
       background-image: url(../../contents/images/githubpic.jpeg);
    }
    .tab-main div.rev figure ~ h5 {
        display: inline-block;
        margin-left: 8px;
    }
    .tab-main figure img {
        width: 100%;
        height: 100%;
    }
    .tab-main div figure ~ div {
        padding: 5px;
        color: green;
    }
