.header {
    z-index: 10;
    height: fit-content;
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
    padding:8px 10px;
    display: flex;
    justify-content: space-between;
    background-color:slateblue;
    border-bottom: 1px solid rgb(170, 154, 185);
    transition: background-color 280ms ease;
}

.active {
    background-color: white;
}

header h1{
    
    font-family:Pacifico;
    padding: 10px 20px;
    color: rgb(255, 197, 8);
    font-weight:bolder;
    font-size: x-large;
}
header h1 span {
    font-family: Pacifico;
    color: darkturquoise;
}
nav {
    position: relative;
    padding: 8px 18px;
    display: block;
    color:white;
}

nav ul{
    list-style: none;
    display: none;
    justify-content: space-between;
}
nav button {
    display: inline-block;
    border-radius: 36px;
    font-weight: 600;
    border: 1px solid white;
    padding: 6px 12px;
    color:white;
    margin:0px 15px;
    background-color: transparent;
    font-size: medium;
    font-family: monospace;
    transition: color 200ms ease, border 200ms ease;
}
.nav-button {
    color: white;
    background-color: rgb(255, 103, 48);
    border: 1px solid rgb(255, 103, 48);
}
nav .svg {
    height: 30px;
    width: 30px;
    display: inline-block;
}
.main-svg {
    position: relative;
    top: 5px;
    fill: white;
    transition: fill 200ms ease;
}
/* why can't .nav-svg below be added to svg without .svg */
.nav-svg {
    fill: black;
}







.toggle-menu {
    position: absolute;
    height: 100vh;
    overflow: hidden;
    background-color:white;
    width: 300px;
    top: calc(0px );
    right: calc(0px);
    z-index: 10;
    transition: width 200ms ease;
}
.toggle-off {
    width: 0px;
}
div.menu-header {
   height: 58px;
   color: black;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   padding: 10px 20px;
   border-bottom: 1px solid rgb(245, 245, 245);
}
.scroll{
    position: fixed;
    top: var(--scrollY);
}
div.menu-main {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu-main ul {
    display: flex;
    list-style: none;
    width: 100%;
    
}
.menu-main ul a {
    text-align: center;
    border-radius: 2px;
    font-weight: 500;
    line-height: normal;
    border: 1px solid gray;
    width: 50%;
    color: slateblue;
    text-decoration: none;
    margin: 5px;  
    padding: 15px;
    font-weight: 600;
}