div.m-dashboard {
    width: 100vw;
    overflow-x: hidden;
    position: relative;
    height: 100vh;
    overflow-y: scroll;
}
.m-dashboard-header {
    z-index: 10;
    height: 70px;
    width: 100vw;
    padding:6px 14px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    backdrop-filter: blur(20px);
    transition: background-color 280ms ease;
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
    box-sizing: border-box;
    box-shadow: 0px 1px 5px #f5f5f5;
}
.m-dashboard-header div.logo-wrap {
    display: flex;
    padding: 4px;
    font-family: Capriola;
    align-items: center;
}
.m-dashboard-header nav {
    position: relative;
    top: -4px;
    align-items: center;
    padding:  5px 8px;
    display: flex;
    color:white;
    justify-content: space-between;
    height: fit-content;
    gap: 8px;
    width:fit-content;
    box-sizing: border-box;
}
.m-dashboard-header nav figure.notify{
    margin-top: 11px;
    width: fit-content;
    height: fit-content;
    padding: 2px 4px;
    position: relative;
}
.m-dashboard-header nav figure.notify .alert{
    width: 1px;
    height: 1px;
    background-color: orange;
    padding: 3px;
    border-radius: 50%;
    position: absolute;
    right: 25%;
    top: 19%;
    z-index: 1;
}
.m-dashboard-header nav figure.notify svg{
    position: relative;
    top: 2px;
}
.m-dashboard-header nav figure#profile-pic{
    width: 34px;
    height: 34px;
    background: rgb(55, 14, 109);
    border-radius: 50%;
    position: relative;
    top: 4px;
    overflow: hidden;
    border: 1px solid #dcdcdc;
}
.m-dashboard-header nav button{
    color: slateblue;
    font-size: 23px;
    border: none;
    background-color: transparent;
    padding: 0px 8px;
}


.m-dashboard-header .engagement-svg svg#menu {
    fill: rgb(75, 84, 94);
    width: 25px;
    height: 25px;
}






/* DASHBOARD MAIN */
main.m-dashboard-main {
    background-color: #fff;
    overflow-x: hidden;
    position: sticky;
    top: 70px;
    width: 100vw;
    padding-bottom: 60px ;
    transition:filter 0.4s ease-in-out;
    height: calc(100vh - 130px);
    overflow-y: hidden;
}

.m-dashboard-main div.feeds {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    overflow-y: scroll;
}
.m-dashboard-main div.feeds div.feed-header {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto 12px;
    box-sizing: border-box;
    gap: 4%;
}
.m-dashboard-main div.feeds div.feed-header p.feed-type{
    color: rgb(62, 62, 62);
    padding: 4px 9px;
    font-size: 14px;
    font-family: Inter;
    width: fit-content;
    height: fit-content;
}
.m-dashboard-main div.feeds div.feed-header p.feed-type.active{
    color: rgb(57, 44, 142);
    padding: 4px 9px;
    background-color: #e6e6e6;
    width: fit-content;
    height: fit-content;
    font-size: 14px;
    border-radius: 9px;
    font-family: Inter;
}












/* SPONSORED SECTION */
/* ============= */




.m-dashboard-main .feeds p.sponsored{
    font-size: 12px;
    margin: 0px 10px;
    padding: 10px 54px 5px;
    font-family: system-ui, -apple-system;
    color: rgb(104, 104, 104);
    position: relative;
    width: 90vw;
    text-align: left;
    display: block;
}
.m-dashboard-main .feeds div.adverts{
    margin:2px 0px 7px ;
    position: relative;
    height: fit-content;
    width: 100vw;
    margin-left: 12px;
}
.m-dashboard-main .feeds .adverts div.adverts-scroll{
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    position: relative;
    height: fit-content;
    width: 100%;
}
.m-dashboard-main .feeds div.adverts-scroll::-webkit-scrollbar {
   display: none;
   background-color: transparent;
}
.m-dashboard-main .feeds .adverts div.adverts-wrap{
    margin-left: 8px;
    width: max-content;
    position: relative;
    height: fit-content;
    
}
.m-dashboard-main .feeds .adverts div.adverts-wrap div.advert{
    scroll-snap-align: center; 
    aspect-ratio: 1;
    width: 30vw;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 10px; 
    margin: 5px 15px 5px 1px;
    padding: 15px;
    background-color: transparent;
    overflow: hidden;
    z-index: 1;
    position: relative;
    display: inline-block;
}
.m-dashboard-main .feeds .adverts div.adverts-wrap div.advert::before {
    content: "";
    top: 20%;
    right: 20%;
    filter: blur(17px);
    z-index: -1;
    background:linear-gradient(to right bottom,rgb(255, 148, 60),rgb(121, 121, 255) 80%);
    border-radius:50% ;
    height: 40%;
    aspect-ratio: 1;
    opacity: 0.8;
    position: absolute;
    transform: scale(5) rotate(0deg);
}



/* PUBLICATIONS SECTION */
/* ==================== */


.m-dashboard-main div.publication-container{
    margin-left: 9px;
}
.m-dashboard-main .feeds div.publication-feed{
    margin: 7px 0px;
    height: fit-content;
    width: 97%;
    background-color: white;
    border-top: 1px solid #e8e8e8;
    box-sizing: border-box;
    color: black;
}
.m-dashboard-main div.publication-feed div.feed-head{
    width:100%;
    display: flex;
    gap: 6px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 6px 0px 0px 9px;
}
.m-dashboard-main div.publication-feed .feed-head div.content-author{
    display: flex;
    gap: 6px;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
}
.m-dashboard-main div.publication-feed .feed-head .content-author figure{
    width:16px ;
    height: 16px;
    border: 1px solid rgb(60, 60, 60);
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
}
.m-dashboard-main div.publication-feed .feed-head .content-author figure img{
    height: 100%;
    width: 100%;
}
.m-dashboard-main div.publication-feed .feed-head .content-author p.author-name{
    font-family:  'Lucida Sans Regular';
    font-style: italic;
    color: grey;
    font-weight: medium;
    font-size: 11px;
    padding: 5px 1px;
    width:70%;
}
.m-dashboard-main div.publication-feed .feed-head p.date-published{
    padding: 3px 7px;
    font-size: xx-small;
    font-family: Inter;
    display: flex;
    align-items: center;
    gap: 11px;
}
.m-dashboard-main div.publication-feed .feed-head p.date-published svg{
    fill: slategray;
}
.m-dashboard-main div.publication-feed .feed-head p.date-published svg.boomarked{
    fill:darkorange;
}
.m-dashboard-main div.publication-feed div.feed-content{
    width: 100%;
    display: flex;
    gap: 4px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 5px 5px 0px;
}
.m-dashboard-main div.publication-feed  .feed-content .content-texts {
  height: fit-content;
  width: 98%;
  margin-bottom: 6px;
}
.m-dashboard-main div.publication-feed .feed-content .content-texts p.content-title{
    font-weight: bold;
    font-family:  Noto Sans;
    font-size: 15px;
    padding: 3px;
    height: fit-content;
    width: 100%;
}
.m-dashboard-main div.publication-feed .feed-content .content-texts p.sub-text{
    font-weight: lighter;
    font-family: serif;
    font-size: 12px;
    font-style: italic;
    padding: 3px;
    height: fit-content;
    width: 200px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.m-dashboard-main div.publication-feed .content-image{
    width: 30%;
}
a {
    text-decoration: none;
    list-style: none;
}
.m-dashboard-main div.publication-feed .content-image img{
    width: 100%;
    aspect-ratio: 1.1;
    border-radius: 7px;
    /* height: 100%; */
}










































.m-dashboard-main .feeds div.feed{
    margin: 7px 0px;
    height: fit-content;
    width: 97%;
    background-color: white;
    border-top: 1px solid #e8e8e8;
    box-sizing: border-box;
    color: black;
}
.m-dashboard-main .feed div.feed-head{
    width:98%;
    display: flex;
    gap: 6px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 6px 10px 0px;
}
.m-dashboard-main .feed-head div.content-author{
    display: flex;
    gap: 6px;
    width: 60%;
    justify-content: flex-start;
    align-items: center;
}
.m-dashboard-main .feed-head .content-author figure{
    /* margin: 0px 4px; */
    width:26px ;
    height: 26px;
    border: 1px solid rgb(60, 60, 60);
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
}
.m-dashboard-main .feed-head .content-author figure img{
    height: 100%;
    width: 100%;
}
.m-dashboard-main .feed-head .content-author p.author-name{
    font-family:  'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color: grey;
    font-weight: medium;
    font-size: 11px;
    padding: 5px 1px;
    width:70%;
}
.m-dashboard-main .feed-head p.date-published{
    padding: 3px 6px;
    font-size: 11px;
    font-family: Inter;
}
.m-dashboard-main .feed div.feed-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 5px 5px 0px;
}
.m-dashboard-main .feed-content .content-texts {
  height: fit-content;
  width: 98%;
  margin-bottom: 6px;
}
.m-dashboard-main .feed-content .content-texts p.content-title{
    font-weight: bold;
    font-family:  Noto Sans;
    font-size: 15px;
    padding: 3px;
    height: fit-content;
    width: 100%;
}
.m-dashboard-main .content-image{
    width: 98%;
   
}
.m-dashboard-main .content-image img{
    width: 100%;
    aspect-ratio: 1.8;
    border-radius: 12px;
    /* height: 100%; */
}
.m-dashboard-main .feed div.feed-foot{
    width: 100%;
    display: flex;
    gap: 6px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 3px 5px;
}
.m-dashboard-main .feed div.feed-foot div.engagement-wrap{
    display: flex;
    justify-content: space-between;
    width: 58%;
}
.m-dashboard-main .feed div.feed-foot p.engagements{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: fit-content;
}
.m-dashboard-main .feed div.feed-foot p.engagements span{
    position: relative;
    top: 2px;
    font-size: 12px;
    color:rgb(60, 60, 60);
}






















/* DASHBOARD ITEMS */
/* ========= ====*/


.m-dashboard div.profile{
    background-color:#ffffff;
    /* overflow-x: hidden; */
    position:fixed;
    height: 78%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 200;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    transition:height 0.29s ease-out;
}
.m-dashboard-main.blurred {
    filter:brightness(0.5) ;
}
.m-dashboard div.profile.inactive{
    height: 0%;
    bottom: -40px;
}





/* BOTTOM MENU BAR */
/* ========= =====*/
.m-dashboard div.menu-bar{
    background-color: white;
    position: fixed;
    bottom: 0px;
    border-top: 1px solid #f1f1f1;
    height: 59px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* gap: 35px; */
    left: 0px;
    right: 0px;
    z-index: 100;
    overflow-x: hidden;
    /* margin: 0px 10px; */
}

.m-dashboard .menu-bar p{
    position: relative;
    margin: 0px 6px;
}


















/* PROFILE MAIN  */
/* ============ */

.m-dashboard .profile-main {
    /* background-color: rgb(255, 255, 255); */
    padding: 13px;
    position: relative;
}
.m-dashboard .profile-main p.exfill {
   position: absolute;
   padding: 2px;
   right: 5%;
   top: -40px;
}
.m-dashboard .profile-main div.profile-main-header {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.m-dashboard .profile-main div.profile-main-header figure{
    width: 34px;
    height: 34px;
    background: rgb(55, 14, 109);
    border-radius: 50%;
    position: relative;
    top: 4px;
    overflow: hidden;
    border: 1px solid #dcdcdc;
}
.m-dashboard .profile-main div.profile-main-header div.id-wrap {
    text-align: center;
    padding: 10px;
    font-family: system-ui;
}
.m-dashboard .profile-main div.profile-main-header div.id-wrap p.name{
    font-weight: 700;
}
.m-dashboard .profile-main div.profile-main-header div.id-wrap p.email{
    text-align: center;
    font-size: x-small;
}
.m-dashboard .profile-main div.profile-main-content{
    padding: 18px 10px 10px;
    font-family: system-ui;
    font-size: small;
}
.m-dashboard .profile-main div.profile-main-content p{
    padding:15px 5px;
    font-family: Noto Sans;
    font-weight: 400;
    position:relative;
}
.m-dashboard .profile-main div.profile-main-content div.subscribed{
    padding:0px 5px 15px;
    font-family: Noto Sans;
    font-weight: 400;
    border-bottom: 1px solid rgb(223, 223, 223);
    overflow: hidden;
    position: relative;
}
.m-dashboard .profile-main div.profile-main-content div.subscribed p.sub-title{
    display: flex;
    padding: 20px 0px 0px;
    align-items: center;
    gap: 40px;
    position: relative;
    z-index: 1;
    background-color: white;
}
.m-dashboard .profile-main div.profile-main-content .subscribed div.pub-list{
    overflow-x: scroll;
    scroll-snap-align:start;
    padding: 5px;
    font-family: Noto Sans;
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    gap: 25px;
    align-items: center;
    margin-left: 15px;
    margin-top: 10px;
    font-size: x-small;
    height: 67px;
}
.m-dashboard .profile-main div.profile-main-content .subscribed div.pub-list::-webkit-scrollbar{
    display: none;
}
.m-dashboard div.pub-list .roll-down{
    position: relative;
    /* top: calc(70px); */
    opacity: 1;
    transition: top 860ms ease-out, opacity 100ms ease-out;
}
.m-dashboard div.pub-list.roll-up {
    position: absolute;
    /* top: 50px; */
    opacity: 0.5;
    transition: top 860ms ease-out, opacity 100ms ease-out;
    pointer-events: none;
}







