.m-dashboard-main div.write {
    position: relative;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
    box-sizing: border-box;
}
.m-dashboard-main .write div.write-header {
    width: 90vw;
    height:30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 10px 20px;
    box-sizing: border-box;
    gap: 7px;
}
.m-dashboard-main .write .write-header > p{
    color:#474747;
    padding: 5px 9px;
    background-color: #f1f1f1;
    width: fit-content;
    height: fit-content;
    font-size: 14px;
    border-radius: 10px;
    font-family: Inter;
    border: 1px solid #dbdbdb;
    margin-right: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.m-dashboard-main .write .write-header >  p.active{
    color:#000000;
    padding: 5px 9px;
    background-color:darkturquoise;
    margin-right: 4px;
    width: fit-content;
    height: fit-content;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgb(182, 182, 182);
    display: flex;
    justify-content: center;
    align-items: center;
}
.m-dashboard-main .write .write-content {
  height: calc(100% - 60px);
}
.m-dashboard-main .write .draft-wrap {
    font-family: Inter;
    margin: 5px 15px 10px;
    width: 92vw;
    box-sizing: border-box;
    height: 100%;
}
.m-dashboard-main .write .published-content {
    font-family: Inter;
    margin: 5px 15px 10px;
    width: 92vw;
    box-sizing: border-box;
    height: 100%;
}
.m-dashboard-main .write .new-setup {
    font-family: Inter;
    margin: 5px 15px 10px;
    width: 93vw;
    box-sizing: border-box;
    height: 100%;
    position: relative;

}











/* DRAFTS */
/* ====== */


.m-dashboard-main .write .draft-wrap div.draft {
    background-color:#ededed;
    border-radius: 9px;
    width: 100%;
    height: fit-content;
    padding-bottom: 3px;
    box-shadow: 0px 1px 4px #cecece;
    margin-bottom:  15px;
    box-sizing: border-box;

}
.m-dashboard-main .write .draft-wrap .draft div.title {
    font-size: 16px;
    font-weight: 700;
    width: 100%;
    white-space: nowrap;
    overflow-x:hidden ;
    text-overflow: ellipsis;
    font-family: Bitter;
    padding:  10px 10px 2px;
}
.m-dashboard-main .write .draft-wrap .draft p.draft-date {
    font-size: 13px;
    padding: 1px 10px;
}
.m-dashboard-main .write .draft-wrap .draft p.draft-type {
    font-size: 11px;
    background-color: slateblue;
    font-style: italic;
    border-radius: 6px;
    padding: 2px 5px;
    display: inline-block;
    color: white;
    margin: 2px 10px 2px;
}
.m-dashboard-main .write .draft-wrap .draft div.draft-content{
    margin: 8px 5px;
    background-color:white;
    border-radius: 7px;
    font-size: 13px;
    padding: 6px 10px;
    display: flex;
    justify-content: space-between;
}
.m-dashboard-main .write .draft-wrap .draft .draft-content div.content-controls{
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
    flex-direction: column;
    gap: 10px;
}
.m-dashboard-main .write .draft-wrap .draft .draft-content p.drop-list {
    margin: 3px 0px;
}
.m-dashboard-main .write .draft-wrap .draft .draft-content p.drop-list span.key{
    font-style: italic;
}
.m-dashboard-main .write .draft-wrap .draft .draft-content p.drop-list span.value{
    font-weight: bold;
}
.m-dashboard-main .write .draft-wrap .draft .draft-content p.share-draft{
    font-weight: bold;
    font-style: italic;
    margin: 10px 0px 5px;
    padding: 4px 8px;
    background-color: rgb(205, 204, 204);
    width: fit-content;
    border-radius: 4px;
}
.m-dashboard-main .write .draft-wrap .draft .draft-content .content-controls button{
    background-color: orange;
    border-radius: 4px;
    border: none;
    padding: 4px 8px;
    font-size: 11px;
    color: #22157a;
}
















/* PUBLISHED POSTS */
/* =============== */


.m-dashboard-main .write .published-content div.published {
    background-color:#f9f9f9;
    border-radius: 9px;
    width: 100%;
    height: fit-content;
    padding: 10px;
    box-shadow: 0px 1px 4px #dddddd;
    margin-bottom:  15px;
    box-sizing: border-box;

}
.m-dashboard-main .write .published-content .published div.title {
    font-size: 14px;
    font-weight: 700;
    width: 100%;
    white-space: nowrap;
    overflow-x:hidden ;
    text-overflow: ellipsis;
}
.m-dashboard-main .write .published-content .published p.published-date {
    font-size: 11px;
}















.m-dashboard-main .write .new-setup div.new-publication{
    background-color:#ededed;
    border-radius: 9px;
    width: 100%;
    height: fit-content;
    padding: 10px;
    box-shadow: 0px 1px 4px #cecece;
    margin:  0px auto ;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.m-dashboard-main .write .new-setup div.new-publication p.title{
    font-size: 14px;
    margin-bottom: 10px;
    padding: 2px;
    margin-left:2px;
}
.m-dashboard-main .write .new-setup div.new-publication p.pub-wrap{
    display: flex ;
    justify-content: space-between;
    width: 100%;
}
.m-dashboard-main .write .new-setup div.new-publication button.add-pub{
    color: #22157a;
    padding: 10px;
    background-color:rgb(255, 180, 40);
    width: 48%;
    height: fit-content;
    font-size: 14px;
    border-radius:8px ;
    font-family:Inter;
    border: none;
    margin-bottom: 10px;
    margin-left:2px;
}
.m-dashboard-main .write .new-setup div.new-publication form.set-new-publication{
    background-color:#ffffff;
    border-radius: 9px;
    width: 99%;
    height: 30%;
    padding: 10px;
    box-sizing: border-box;
    flex-grow: 1;
    overflow-y: scroll;
}

            .m-dashboard-main .write .new-setup div.new-publication .set-new-publication label{
                font-size: 14px;
                margin-left: 2px;
            }
            .m-dashboard-main .write .new-setup div.new-publication .set-new-publication span{
                font-size: 14px;
                margin-left: 2px;
            }
            .m-dashboard-main .write .new-setup div.new-publication .set-new-publication button{
                font-size: 13px;
                border: none;
                padding: 4px 10px;
                background-color: slateblue;
                color: white;
                border-radius: 6px;
                margin: 3px 0px;
            }
            .m-dashboard-main .write .new-setup div.new-publication .set-new-publication textarea{
                border: 1px solid orange;
                outline: none;
                /* background-color: #ededed; */
                border-radius: 9px;
                padding: 9px;
                width: 75%;
            }
            .m-dashboard-main .write .new-setup div.new-publication .set-new-publication input{
                border: 1px solid orange;
                outline: none;
                /* background-color: #ededed; */
                border-radius: 8px;
                padding:5px 9px;
                width:fit-content;
                margin-top: 2px;
            }
            .m-dashboard-main .write .new-setup div.new-publication .set-new-publication img{
                border-radius: 8px;
            }

.m-dashboard-main .write .new-setup div.new-publication .set-new-publication div.add-logo{
    border-radius: 8px;
}
.m-dashboard-main .write .new-setup div.new-publication .set-new-publication  div.add-logo p{
   display: flex;
   gap: 15px;
   align-items: center;
   justify-content: flex-start;
   margin: 15px 0px;
}
.m-dashboard-main .write .new-setup div.new-publication .set-new-publication p.about-publication{
   display: flex;
   gap: 25px;
   align-items: center;
   justify-content: flex-start;
   margin: 10px 0px;
   font-size: 14px;
}
.m-dashboard-main .write .new-setup div.new-publication .set-new-publication div.pick-niche{
    font-size: 14px;
    margin: 10px 0px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
    position: relative;
}
.m-dashboard-main .write .new-setup div.new-publication .set-new-publication .pick-niche div.niche-wrap{
    font-size: 14px;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.m-dashboard-main .write .new-setup div.new-publication .set-new-publication div.pick-niche .niche-wrap div.added{
    padding: 5px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    height: 35px;
    box-sizing: border-box;
    min-width: 30vw;
}
.m-dashboard-main .write .new-setup div.new-publication .set-new-publication div.pick-niche .added p.tag{
    display: inline-block;
    background-color: #cfcfcf;
    width: fit-content;
    padding: 3px 5px;
    margin-top: 1px;
    margin-right: 7px;
    font-size: 13px;
    border-radius: 3px;
    color: black;
    border: 1px solid rgb(220, 220, 220);
}
.m-dashboard-main .write .new-setup div.new-publication .set-new-publication div.pick-niche .added span{
    position: relative;
    top: 2px;
}
.m-dashboard-main .write .new-setup div.new-publication .set-new-publication div.pick-niche div.tag-search{
    border-radius: 7px;
    width: calc(50vw - 16px);
    top: calc(100% + 1px);
    left:  0;
    font-family: system-ui;
    padding: 9px;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    background-color: rgb(233, 233, 233);
    position: absolute;
    box-shadow: 0px 0px 7px #7d7d7d;
}
.m-dashboard-main .write .new-setup div.new-publication .set-new-publication div.pick-niche div.tag-search.active{
    border-radius: 7px;
    width: calc(50vw - 16px);
    top: calc(100% + 1px);
    left:  0;
    font-family: system-ui;
    opacity: 1;
    pointer-events: auto;
    padding: 9px;
    z-index: 1;
    background-color: rgb(233, 233, 233);
    position: absolute;
    box-shadow: 0px 0px 7px #7d7d7d;
}
.m-dashboard-main .write .new-setup div.new-publication .set-new-publication div.collab{
    font-size: 13px;
    margin: 13px 0px;
}
.m-dashboard-main .write .new-setup div.new-publication .set-new-publication div.collab div.add-copublishers{
    margin: 6px 0px 13;
    outline: none;
    height: fit-content;
    min-width: 60%;
    border-radius: 3px;
    /* padding:5px 9px; */
}
.m-dashboard-main .write .new-setup div.new-publication .set-new-publication div.collab div.add-copublishers div.person{
    display: inline-flex;
    width: fit-content;
    flex-direction: column;
    gap: 5px;
    aspect-ratio: 1;
    height: 60px;
    align-items: center;
    justify-content: center;
    margin-right: 19px;
    margin-left: 10px;
    position: relative;
}
.m-dashboard-main .write .new-setup .new-publication .set-new-publication .collab .add-copublishers div.person figure{
    width: 29px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    position: relative;
    overflow: hidden;
    border: 1px solid darkturquoise;
}
.m-dashboard-main .write .new-setup .new-publication .set-new-publication .collab .add-copublishers div.person figure img{
    width: 100%;
    height: 100%;
}
.m-dashboard-main .write .new-setup .new-publication .set-new-publication .collab .add-copublishers div.person p.remove{
    font-size: 10px;
    position: absolute;

    transform: scale(0.8);
    top: -3px;
    right: -4px;
}
.m-dashboard-main .write .new-setup .new-publication .set-new-publication .collab .add-copublishers div.person p{
    font-size: 10px;
}
.m-dashboard-main .write .new-setup .new-publication .set-new-publication p.add-emails{
   display: flex;
   gap: 25px;
   align-items: center;
   justify-content: flex-start;
   margin: 10px 0px;
   font-size: 14px;
}
.m-dashboard-main .write .new-setup div.new-publication .set-new-publication button.submit{
    font-size: 14px;
    border: none;
    padding: 6px 10px;
    background-color: orange;
    color: #22157a;
    border-radius: 6px;
    margin: 10px 0px 5px;
}















.m-dashboard-main .write .new-setup div.new-article{
    background-color:white;
    border-radius: 9px;
    width: 99%;
    height: fit-content;
    padding: 10px;
    box-shadow: 0px 1px 4px #cecece;
    margin:  0px auto ;
    box-sizing: border-box;
}
.m-dashboard-main .write .new-setup div.new-article p.title{
    font-size: 14px;
    margin-bottom: 10px;
    padding: 2px;
    margin-left: 0px;
}
.m-dashboard-main .write .new-setup .new-article div.article-type{
    width: 100%;
    height: fit-content;
}
.m-dashboard-main .write .new-setup .new-article button.write{
    font-size: 14px;
    border: none;
    padding: 6px 10px;
    background-color: orange;
    color: #22157a;
    border-radius: 6px;
    margin: 10px 0px 5px;
}
.m-dashboard-main .write .new-setup .new-article div.article-type input{
    border: 1px solid gray;
    outline: none;
    background-color: #ededed;
    border-radius: 8px;
    padding:5px 9px;
    margin: 2px 8px;
}
.m-dashboard-main .write .new-setup .new-article div.article-type span.type{
    font-size: 14px;
    margin-left: 2px;
    margin-bottom: 8px;
    display: inline-block;
    color: slateblue;
}
.m-dashboard-main .write .new-setup .new-article .article-type p.post-type{
    font-size: 15px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    gap: 7px;
}
.m-dashboard-main .write .new-setup .new-article .article-type p.post-type svg{
    margin-left: 7px;
}
.m-dashboard-main .write .new-setup .new-article .article-type p.post-type input{
    appearance: none;
    width: 12px;
    height: 12px;
    border: 1px solid darkorange;
    transition: 0.15s all linear;
    position: relative;
    background-color: white;
}
.m-dashboard-main .write .new-setup .new-article .article-type p.post-type input:checked{
   background-color: slateblue;
   border: 1px solid darkorange;
}
.m-dashboard-main .write .new-setup .new-article .article-type div.choose-pub{
    font-size: 15px;
    margin-left: 14px;
    margin-top: 10px;
}
.m-dashboard-main .write .new-setup .new-article .article-type .choose-pub p.pubs{
    margin: 4px;
    padding: 2px;
}
                .m-dashboard-main .write .new-setup .new-article .article-type p.pubs input{
                    appearance: none;
                    width: 12px;
                    height: 12px;
                    border: 1px solid darkturquoise;
                    transition: 0.15s all linear;
                    position: relative;
                    background-color: white;
                }
                .m-dashboard-main .write .new-setup .new-article .article-type p.pubs input:checked{
                    background-color: slateblue;
                    border: 1px solid darkturquoise;
                }












/* POPUP */
/* ===== */


.m-dashboard-main div.m-pop {
    position: fixed;
    background-color: transparent;
    backdrop-filter: blur(5px) brightness(0.6);
    inset: 0 0;
    opacity: 1;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.m-dashboard-main div.m-pop.disabled{
    position: absolute;
    background-color: transparent;
    backdrop-filter: blur(5px) brightness(0.6);
    inset: 0 0;
    opacity: 0;
    z-index: -10;
    display: flex;
    justify-content: center;
    align-items: center;
}
.m-dashboard-main .m-pop div.pop-wrap{
    position: relative;
    background-color: white;
    border-radius: 15px;
    height: 73%;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.m-dashboard-main .m-pop .pop-wrap div.pop-header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: fit-content;
}
.m-dashboard-main .m-pop .pop-wrap div.pop-header p.unpop{
    background-color: grey;
    position:relative;
    border-radius: 50%;
    padding: 7px;
    margin: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
}
.m-dashboard-main .m-pop div.pop-wrap p.unpop svg{
    width: 18px;
    height: 18px;
}
.m-dashboard-main .m-pop .pop-wrap div.pop-content{
    
    overflow-y: scroll;
    width: 100%;
    box-sizing: border-box;
    height: fit-content;
    padding: 10px;
    flex-grow: 1;
}



/* COLLABORATORS */
/* ============= */

.m-dashboard-main .m-pop .pop-wrap .pop-content div.pick-contributors {

}
.m-dashboard-main .m-pop .pop-wrap .pop-content .pick-contributors div.search {
    height: 30px;
    gap: 5px;
    padding:2px 6px;
    margin: 5px 10px 25px;
    width:fit-content;
    box-shadow: 0 0 5px #d6d6d6;
    background-color: transparent;
    backdrop-filter: blur(7);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 6px;
}
.m-dashboard-main .m-pop .pop-wrap .pop-content .pick-contributors div.search figure{
    opacity: 0.8;
    position: relative;
    top: 2px;
}
.m-dashboard-main .m-pop .pop-wrap .pop-content .pick-contributors div.search input{
    border: none;
    position: relative;
    padding:5px;
    outline: none;
    color: grey;
    width: 88%;
    background-color: transparent;
    margin: 5px;
    font-size: 15px;
    font-family: system-ui, -apple-system;
    height: 33px;
    z-index: 0;
}
.m-dashboard-main .m-pop .pop-wrap .pop-content .pick-contributors div.id-result{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    width: 100%;
    margin-bottom: 14px;
    margin-left: 6px;
}
.m-dashboard-main .m-pop .pop-wrap .pop-content .pick-contributors .id-result figure{
    width: 25px;
    border-radius: 50%;
    display: flex;;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    position: relative;
    overflow: hidden;
    border: 1px solid darkturquoise
}
.m-dashboard-main .m-pop .pop-wrap .pop-content .pick-contributors .id-result figure img{
    width: 100%;
    height: 100%;
}
.m-dashboard-main .m-pop .pop-wrap .pop-content .pick-contributors .id-result p.user-name{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.m-dashboard-main .m-pop .pop-wrap .pop-content .pick-contributors .id-result p.user-name span.name{
    font-weight: 800;
    font-size: 14px;
}
.m-dashboard-main .m-pop .pop-wrap .pop-content .pick-contributors .id-result p.user-name span.username{
    font-weight: 300;
    font-size: 13px;
}

