.m-dashboard-main div.write {
    position: relative;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
}
.m-dashboard-main .write div.write-header {
    width: 90vw;
    height: max-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 10px 20px;
    box-sizing: border-box;
    gap: 7px;
}
.m-dashboard-main .write .write-header > p{
    color:#474747;
    padding: 5px 9px;
    background-color: #f1f1f1;
    width: fit-content;
    height: fit-content;
    font-size: 14px;
    border-radius: 10px;
    font-family: Inter;
    border: 1px solid #dbdbdb;
    margin-right: 4px;
}
.m-dashboard-main .write .write-header >  p.active{
    color:#000000;
    padding: 5px 9px;
    background-color:darkturquoise;
    /* background-color: orange; */
    width: fit-content;
    height: fit-content;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgb(182, 182, 182);
}
.m-dashboard-main .write .draft-content {
    font-family: Inter;
    margin: 5px 15px 10px;
    width: 92vw;
    box-sizing: border-box;
}
.m-dashboard-main .write .published-content {
    font-family: Inter;
    margin: 5px 15px 10px;
    width: 92vw;
    box-sizing: border-box;
}
.m-dashboard-main .write .new-setup {
    font-family: Inter;
    margin: 5px 15px 10px;
    width: 93vw;
    box-sizing: border-box;
}














.m-dashboard-main .write .draft-content div.draft {
    background-color:#f9f9f9;
    border-radius: 9px;
    width: 100%;
    height: fit-content;
    padding: 10px;
    box-shadow: 0px 1px 4px #dddddd;
    margin-bottom:  15px;
    box-sizing: border-box;

}
.m-dashboard-main .write .draft-content .draft div.title {
    font-size: 14px;
    font-weight: 700;
    width: 100%;
    white-space: nowrap;
    overflow-x:hidden ;
    text-overflow: ellipsis;
}
.m-dashboard-main .write .draft-content .draft p.draft-date {
    font-size: 11px;
}














.m-dashboard-main .write .published-content div.published {
    background-color:#f9f9f9;
    border-radius: 9px;
    width: 100%;
    height: fit-content;
    padding: 10px;
    box-shadow: 0px 1px 4px #dddddd;
    margin-bottom:  15px;
    box-sizing: border-box;

}
.m-dashboard-main .write .published-content .published div.title {
    font-size: 14px;
    font-weight: 700;
    width: 100%;
    white-space: nowrap;
    overflow-x:hidden ;
    text-overflow: ellipsis;
}
.m-dashboard-main .write .published-content .published p.published-date {
    font-size: 11px;
}













.m-dashboard-main .write .new-setup div.new-publication{
    background-color:#ededed;
    border-radius: 9px;
    width: 97%;
    height: fit-content;
    padding: 10px;
    box-shadow: 0px 1px 4px #cecece;
    margin:  20px auto 15px;
    box-sizing: border-box;
}
.m-dashboard-main .write .new-setup div.new-publication p.title{
    font-size: 14px;
    margin-bottom: 10px;
    padding: 2px;
    margin-left:2px;
}
.m-dashboard-main .write .new-setup div.new-publication button.add-pub{
    color: rgb(36, 36, 36);
    padding: 10px;
    background-color:rgb(255, 180, 40);
    width: fit-content;
    height: fit-content;
    font-size: 14px;
    border-radius:8px ;
    /* box-shadow: 0px 0px 10px 1px rgb(182, 182, 182); */
    font-family:Inter;
    border: none;
    margin-bottom: 10px;
    margin-left:2px;
}
.m-dashboard-main .write .new-setup div.new-publication div.set-new-publication{
    background-color:#ffffff;
    border-radius: 9px;
    width: 100%;
    height: fit-content;
    padding: 10px;
    box-sizing: border-box;
}
.m-dashboard-main .write .new-setup div.new-publication div.no-new-pub{
    background-color:#ffffff;
    border-radius: 9px;
    width: 100%;
    height: 0;
    opacity: 0;
    z-index: -2;
    pointer-events: none;
}
            .m-dashboard-main .write .new-setup div.new-publication div.set-new-publication label{
                font-size: 14px;
                margin-left: 2px;
            }
            .m-dashboard-main .write .new-setup div.new-publication div.set-new-publication span{
                font-size: 14px;
                margin-left: 2px;
            }
            .m-dashboard-main .write .new-setup div.new-publication div.set-new-publication button{
                font-size: 13px;
                border: none;
                padding: 4px 10px;
                background-color: slateblue;
                color: white;
                border-radius: 6px;
                margin: 3px 0px;
            }
            .m-dashboard-main .write .new-setup div.new-publication div.set-new-publication textarea{
                border: none;
                outline: none;
                background-color: #ededed;
                border-radius: 9px;
                padding: 9px;
                width: 75%;
            }
            .m-dashboard-main .write .new-setup div.new-publication div.set-new-publication input{
                border: none;
                outline: none;
                background-color: #ededed;
                border-radius: 8px;
                padding:5px 9px;
                width: 75%;
                margin-top: 2px;
            }
            .m-dashboard-main .write .new-setup div.new-publication div.set-new-publication img{
                border-radius: 8px;
            }

.m-dashboard-main .write .new-setup div.new-publication div.set-new-publication div.add-logo{
    border-radius: 8px;
}
.m-dashboard-main .write .new-setup div.new-publication div.set-new-publication  div.add-logo p{
   display: flex;
   gap: 15px;
   align-items: center;
   justify-content: flex-start;
   margin: 15px 0px;
}
.m-dashboard-main .write .new-setup div.new-publication div.set-new-publication p.about-publication{
   display: flex;
   gap: 25px;
   align-items: center;
   justify-content: flex-start;
   margin: 10px 0px;
   font-size: 14px;
}
.m-dashboard-main .write .new-setup div.new-publication div.set-new-publication div.pick-niche{
    font-size: 14px;
    margin: 10px 0px;
}
.m-dashboard-main .write .new-setup div.new-publication div.set-new-publication div.pick-niche select{
    border-radius:4px ;
    padding:2px 5px;
    margin-left: 25px;
    outline: none;
}
.m-dashboard-main .write .new-setup div.new-publication div.set-new-publication div.pick-niche select option{
    border-radius:4px ;
    padding:2px 5px;
    margin-left: 25px;
    outline: none;
    background-color: rgb(255, 255, 255);
    border: none;
    font-size: smaller;
}
.m-dashboard-main .write .new-setup div.new-publication div.set-new-publication div.collab{
    font-size: 14px;
    margin: 13px 0px;
}
.m-dashboard-main .write .new-setup div.new-publication div.set-new-publication p.add-emails{
   display: flex;
   gap: 25px;
   align-items: center;
   justify-content: flex-start;
   margin: 10px 0px;
   font-size: 14px;
}
.m-dashboard-main .write .new-setup div.new-publication div.set-new-publication button.submit{
    font-size: 14px;
    border: none;
    padding: 6px 10px;
    background-color: orange;
    color: #000000;
    border-radius: 6px;
    margin: 10px 0px 5px;
}















.m-dashboard-main .write .new-setup div.new-article{
    background-color:#ededed;
    border-radius: 9px;
    width: 97%;
    height: fit-content;
    padding: 10px;
    box-shadow: 0px 1px 4px #cecece;
    margin:  20px auto 15px;
    box-sizing: border-box;
}
.m-dashboard-main .write .new-setup div.new-article p.title{
    font-size: 14px;
    margin-bottom: 10px;
    padding: 2px;
    margin-left:3px;
}
.m-dashboard-main .write .new-setup div.new-article div.article-type{
    background-color:#ffffff;
    border-radius: 9px;
    width: 100%;
    height: fit-content;
    padding: 10px;
    box-sizing: border-box;
}
.m-dashboard-main .write .new-setup div.new-article button.write{
    font-size: 14px;
    border: none;
    padding: 6px 10px;
    background-color: orange;
    color: #000000;
    border-radius: 6px;
    margin: 10px 0px 5px;
}
.m-dashboard-main .write .new-setup div.new-article div.article-type input{
    border: 1px solid gray;
    outline: none;
    background-color: #ededed;
    border-radius: 8px;
    padding:5px 9px;
    margin: 2px 8px;
}
.m-dashboard-main .write .new-setup div.new-article div.article-type span.type{
    font-size: 14px;
    margin-left: 2px;
    margin-bottom: 8px;
    display: inline-block;
    color: slateblue;
}
.m-dashboard-main .write .new-setup div.new-article div.article-type label{
    font-size: 16px;
    margin-left: 2px;
}




