div.mobile-bookmark {
    /* background-color: #F1F1F1; */
    padding:5px 2px 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.mobile-bookmark div.bookmark-header {
    display: flex;
    justify-content: space-between;
    width: 95%;
    align-items: center;
    padding: 2px 8px 8px;
    box-sizing: border-box;
    height: fit-content;
}
.mobile-bookmark div.logo {
    display: flex;
    padding: 12px 0px;
    /* gap: 15px; */
    font-family: Capriola;
    align-items: center;
}
.mobile-bookmark .art::before{
    content: "";
    position: absolute;
    background-color:darkturquoise;
    width: 100%;
    border-radius: 3px;
    height: 31px;
    transform: rotate(-7deg) translateX(-20%) translateY(3%);
    box-shadow: 2px 2px 4px rgba(24, 28, 80, 0.747);
}
.mobile-bookmark .art::after{
    content: "";
    position: absolute;
    background:linear-gradient(to bottom,#ffa90a,#7568cf);
    width: 100%;
    border-radius: 3px;
    height: 31px;
    transform: rotate(-14deg) translateX(-40%) translateY(6%);
    box-shadow: 2px 2px 4px rgba(24, 28, 80, 0.747);
}
.mobile-bookmark .art{
    position: relative;
    top: -2px;
    background-color:rgb(190, 190, 190);
    width: 25px;
    border-radius: 3px;
    height: 31px;
    transform: rotate(8deg)  ;
    box-shadow: 2px 2px 6px rgba(24, 28, 80, 0.747);
    margin-left:16px ;
}