/* import pic from './contents/github profile pic.jpeg' */
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Righteous&family=Six+Caps&display=swap');
@font-face {
    font-family: "LuckiestGuy";
    src: url("./Components/contents/fonts/Luckiest_Guy/LuckiestGuy-Regular.ttf");
}
@font-face {
    font-family: "BrunoAce";
    src: url("./Components/contents/fonts/Bruno_Ace/BrunoAce-Regular.ttf");
}
@font-face {
    font-family: "Pacifico";
    src: url("./Components/contents/fonts/Pacifico/Pacifico-Regular.ttf");
}
@font-face {
    font-family: "RubikMoonrocks";
    src: url("./Components/contents/fonts/Rubik_Moonrocks/RubikMoonrocks-Regular.ttf");
}
@font-face {
    font-family: "SupermercadoOne";
    src: url("./Components/contents/fonts/Supermercado_One/SupermercadoOne-Regular.ttf");
}
@font-face {
    font-family: "TitanOne";
    src: url("./Components/contents/fonts/Titan_One/TitanOne-Regular.ttf");
}
@font-face {
    font-family: "Capriola";
    src: url("./Components/contents/fonts/Capriola/Capriola-Regular.ttf");
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    /* font-family:Capriola; */
}

body {
    overflow-anchor: none;
  }
  

hr {
    margin: 0px auto;
    color: black;
    font-weight: 100;
    border: 0px;
    height: 1px;
    box-shadow: 1px 1px 0px rgb(0, 0, 0);
}
hr.inner{
    /* color: black; */
    font-weight: 100;
    border: 0px;
    height: 1px;
    box-shadow: 1px 1px 0px rgb(165, 165, 165);
}
