/* import pic from './contents/github profile pic.jpeg' */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
 
/* why does body styling not work in react.js */
}
div.App {
    /* height: 100vh; */
    /* background-color:rgb(233, 233, 233); */
}
hr {
    margin: 0px auto;
    color: black;
    font-weight: 100;
    border: 0px;
    height: 1px;
    background: black;
}

header {
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
    padding:8px 10px;
    display: flex;
    justify-content: space-between;
    background-color:blueviolet;
    border-bottom: 1px solid rgb(170, 154, 185);
}

header h1{
    padding: 10px 20px;
    color: #ffb325;
    font-weight:bolder;
    font-size: x-large;
}
h1 span {
    /* color: rgb(209, 209, 209); */
    /* color: rgb(151, 13, 13); */
    color: darkturquoise;
}
nav {
    padding: 8px 18px;
    display: flex;
}

nav ul{
    list-style: none;
    display: none;
    justify-content: space-between;
}
nav li {
    border-radius: 35px;
    font-weight: 600;
    line-height: normal;
    list-style: none;
    border: 1px solid white;
    padding: 5px 11px;
    color:rgb(238, 238, 238);
    margin:0px 15px;
    /* background-color: rgb(51, 170, 51); */
}
nav ul li {
    border-radius: 35px;
    font-weight: 600;
    line-height: normal;
    /* box-shadow: inset; */
    border: 1px solid gray;
    padding: 5px 17px;
    color: #ffb325;
    margin: 5px;
}
nav ul li:last-child {
    border-radius: 35px;
    font-weight: 300;
    color: white;
    background-color: gray;
    padding: 5px 11px;
    margin: 5px;
}
nav svg {
    fill: rgb(238, 238, 238);
}

main{
    font-family: tahoma;
    
}
.main {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
}
.main .h1-tag{
   background-color: blueviolet;
    padding: 20px;
}

.main h1 {
    font-family: sans-serif;
    font-weight: 900;
    margin-top: 50px;
    padding: 0px 10px;
    font-size: 35px;
    text-align: center;
    color: #ffb325;
    /* color: transparent;
    background-image: linear-gradient(to right, orange, blueviolet);
    background-clip: text; */
}
.main h1 span {
    /* font-family: sans-serif; */
    color: rgb(172, 172, 172);
    /* color: royalblue; */
}
div.h1-tag p#cta{
    margin-top: 20px;
    padding: 10px;
    font-weight: 200;
    font-size: large;
    line-height: 25px;
    text-align: center;
}
div.h1-tag p button{
    margin-top: 35px;
    font-size: large;
    outline: none;
    border: none;
    padding: 8px 15px;
    font-weight: 200;
    border-radius: 25px;
    color: black;
    background-image: linear-gradient(to bottom,rgb(255, 216, 145),rgb(194, 132, 252));
}
.main div.img-content{
    background-color: rgb(255, 209, 122);
    height:fit-content;
    background-color: rgb(255, 255, 255);
}
div.img-content p#img{
    padding: 30px;
    height: 260px;
    width: 350px;
    float: right;
}
p#img img{
    height: 100%;
    width: 100%;
}
.main div.txt-content{
    color: black;
    height:fit-content;
    margin-top: 5px;
    /* background-color: rgb(255, 209, 122); */
}
.main div.reviews{
    background-color: white;
    height:fit-content;
    display: flex;
    flex-direction: column;
   align-items: end;
}
.reviews div.rev {
    width: 70vw;
    margin: 15px 20px;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 1px 4px rgba(173, 173, 173, 0.747);
}
div.rev figure {
    padding: 5px;
    border-radius: 50%;
    width: 40px;
    background-repeat: no-repeat;
    /* background-clip: content-box; */
    background-size: cover;
    background-position:50% 10%;
    height: 40px;
   background-image: url(./contents/githubpic.jpeg);
}
figure img {
    width: 100%;
    height: 100%;
}
div figure ~ div {
    padding: 5px;
    color: green;
}
footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10px;
    font-weight: lighter;
    padding: 20px;
    background-color: rgb(255, 228, 179);
}
.footdiv {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 25%;
}
.footdiv div {
    padding: 3px;
}
.footdiv div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#copyright {
    text-align: center;
    margin-top: 15px;
}


@media (min-width: 640px) {
    nav ul{
        list-style: none;
        display: flex;
        justify-content: space-between;
    }

    nav svg {
        display: none;
    }
  }