main{
    font-family:   Arial, sans-serif;
    
}
.main {
    display: flex;
    flex-direction: column;
}
.main .h1-tag{
   background-color: slateblue;
    padding: 20px;
}

.h1-tag h1 {
    line-height: 142%;
    font-family:  RubikMoonrocks, Capriola, Arial, Helvetica, sans-serif;
    /* font-family: sans-serif; */
    font-weight: 900;
    margin-top: 25px;
    padding: 0px 10px;
    font-size: 41px;
    /* color: rgb(0, 243, 247); */
    /* color: rgb(97, 253, 136); */
    color: rgb(255, 209, 103);
    /* color: transparent;
    background-image: linear-gradient(to right, orange, blueviolet);
    background-clip: text; */
}
.h1-tag h1 span {
    font-family: Capriola;
    color: rgb(201, 201, 201);
}
.h1-tag p#cta{
    margin-top: 20px;
    padding: 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 200;
    font-size: large;
    line-height: 25px;
    text-align: center;
    color: white;
}
.h1-tag p button{
    
    margin-top: 35px;
    font-size: large;
    font-weight: 900;
    outline: none;
    border: none;
    padding: 8px 15px;
    font-weight: 200;
    border-radius: 25px;
    color: black;
    background-image:  linear-gradient(to bottom,#ffdb98,#7b6aef);
    transition: transform 0.2s ease;
}
.h1-tag p button:hover{
   
   transform: scale(1.06)
}

/* FEATURED */
div.featured{
    padding: 20px;
    background-color: white;
    height:fit-content;
    display: flex;
    flex-direction: column;
}
.featured h4#reads {
    display: inline-block;
    padding: 20px 10px 15px;
    font-weight: 600;
    margin-left: 10px;
    font-size: medium;
    color: rgb(126, 126, 126);
}
.featured div.reads {
    width: 70vw;
    margin: 15px 20px;
    padding: 15px;
    background-color: white;
    /* border-radius: 10px; */
    box-shadow: 0px 1px 4px rgba(173, 173, 173, 0.747);
}
div.read_id {
    display: flex;
    align-items: center;
}
div.read_id figure {
    display: inline-block;
    padding: 5px;
    width: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:50% 10%;
    height: 15px;
   background-image: url(./contents/images/githubpic.jpeg);
}
div.read_id figure ~ h5 {
    display: inline-block;
    margin-left: 8px;
}
figure img {
    width: 100%;
    height: 100%;
}
.reads h4 {
    margin-top: 6px;
    
}


/* NICHE CONTENT */
.niche-content {
    padding: 20px;
}
.niche-content #niche {
    display: inline-block;
    padding: 20px 10px 15px;
    font-weight: 600;
    margin-left: 10px;
    font-size: medium;
    color: rgb(126, 126, 126);
    transition: margin-left 190ms ease-out, color 190ms ease-out;
}
#niche:hover{
    color: rgb(82, 82, 82);
    margin-left: 16px;
}
.category {
    padding: 10px;
}
.categories {
    display: inline-grid;
    margin-right: 10px ;
    margin-top: 10px;
    border-radius: 15px;
    padding: 9px 13px;
    background-color: rgb(255, 245, 222);
    font-size: smaller;
    transition: background-color 400ms ease-out;
    border: none;
}
.categories:hover {
    background-color: rgb(224, 219, 252);
}
.niche-content .see {
    cursor: pointer;
    display: block;
    margin: 10px;
    padding: 5px ;
    font-size: smaller;
    color: rgb(149, 141, 179);
}
#arrow {
    display: inline-block;
    transition: transform 200ms ease-out;
}
#see {
    display: inline-block;
    transform: translateX(18px);
}
.see:hover #arrow{
    transform: translateX(12px);
    color: #ffbb28;
}


/* PODCAST */
div#podcast {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    background-image:url(./contents/images/podcaster.jpeg) ;
    background-repeat: no-repeat;
    background-clip: border-box;
    border: 1px solid white;
    background-size: cover;
    background-position:50% 10%;
    color:green ;
    padding: 20px;
    position: relative;
    z-index: -1;
}
#podcast .podcast-gradient {
    z-index: -1;
    background-image: linear-gradient(to right, white 38%, transparent);
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}
#podcast .podcast-wrapper {
    z-index: 2;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
}
#podcast h2 {
    padding: 0px 10px;
    font-family: SupermercadoOne;
    font-size: x-large;
    width: 60%;
}
#podcast article {
    padding: 13px 5px;
    margin-left: 5px;
    width: 80%;
    color: darkgreen;
}
#podcast button {
    z-index: 3;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    color:rgb(255, 255, 255);
    background-color: rgb(255, 102, 14);
    font-weight: 700;
    margin-left: 7px;
}



/* REVIEWS */
div.reviews{
    background-color: white;
    height:fit-content;
    display: flex;
    flex-direction: column;
   align-items: flex-end;
}
.reviews div.rev {
    width: 70vw;
    margin: 15px 20px;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 1px 4px rgba(173, 173, 173, 0.747);
}
div.rev_id {
    display: flex;
    align-items: center;
}
div.rev figure {
    display: inline-block;
    padding: 5px;
    border-radius: 50%;
    width: 15px;
    background-repeat: no-repeat;
    /* background-clip: content-box; */
    background-size: cover;
    background-position:50% 10%;
    height: 15px;
   background-image: url(./contents/images/githubpic.jpeg);
}
div.rev figure ~ h5 {
    display: inline-block;
    margin-left: 8px;
}
figure img {
    width: 100%;
    height: 100%;
}
div figure ~ div {
    padding: 5px;
    color: green;
}