div.menu-drop {
    color: gray;
    position: absolute;
    right: -5px;
    border-radius: 15px;
    font-family: Inter;
    width: 53vw;
    height: 32vh;
    padding: 12px;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid rgb(216, 216, 216);
    backdrop-filter: blur(5px);
    box-shadow: 0px 1px 2px rgb(197, 197, 197);
    z-index: 1000;
}

div.icon-wrap.active .menu-drop{
    opacity: 1;
    top: 180%;
    transition: top 100ms ease-in-out, opacity 120ms ease-in-out;
}
.roll-down{
    opacity: 1;
    top: 180%;
    transition: top 100ms ease-in-out, opacity 120ms ease-in-out;
}
.roll-up {
    opacity: 0;
    top: 100%;
    transition: top 100ms ease-in-out, opacity 120ms ease-in-out;
    pointer-events: none;
}









.mobile-new div.editor{
    box-sizing: border-box;
}
.mobile-new div.editor-controls{
    margin: 5px auto;
    padding: 0px 4px ;
    width: 85%;
    display: flex;
    overflow-x: hidden;
    background-color: white;
    box-shadow: 0px 0px 2px darkturquoise;
    border-radius: 10px;
    position: relative;
}
.mobile-new div.editor-controls p#leftarr{
    position: absolute;    
    left: 0px;
    top: 0px;
    height: 100%;
    width: 35px;
    opacity: 0;
    z-index: -1;
    background: linear-gradient(to right, darkturquoise, transparent);
    transition: opacity 170ms ease-in-out
}
.mobile-new div.editor-controls p#rightarr{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 35px;
    opacity: 1;
    transition: opacity 170ms ease-in-out;
    z-index: 1;
    background: linear-gradient(to right, transparent, darkturquoise);
    
}
.mobile-new div.controls-scroll{
    margin: 0px auto;
    padding: 4px ;
    width: max-content;
    display: flex;
    overflow-x: scroll;
}
.mobile-new div.controls-scroll::-webkit-scrollbar {
    display: none;
}

.mobile-new div.controls-scroll button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 1px 4px;
    width: fit-content;
    border-radius: 5px;
    background-color: #F1F1F1;
    color: rgb(45, 55, 59);
    font-weight: bolder;
    font-size: 13px;
    padding: 0px 12px;
    box-sizing: border-box;
    border: 1px solid rgb(197, 197, 197);
    /* border: 1px solid slateblue; */
}

.mobile-new div.editor-controls button:focus{
    background-color: gainsboro;
}


.mobile-new div.editor-inputs::-webkit-scrollbar {
    display: none;
}





.mobile-new .tiptap{
    background-color: rgb(255, 255, 255);
    background-color: #F1F1F1;
    margin-bottom: 5px;
    padding: 4px;
    border: none;
    outline: none;
    width: inherit;
    display: block;
    padding: 15px 25px;
    width: 100%;
    height: auto;
    resize: none;
    font-size: 14px;
    box-sizing: border-box;
}
















