div.menu-drop {
    color: gray;
    position: absolute;
    right: -5px;
    border-radius: 15px;
    font-family: Inter;
    width: 53vw;
    height: 32vh;
    padding: 12px;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid rgb(216, 216, 216);
    backdrop-filter: blur(5px);
    box-shadow: 0px 1px 2px rgb(197, 197, 197);
}

div.icon-wrap.active .menu-drop{
    opacity: 1;
    top: 180%;
    transition: top 100ms ease-in-out, opacity 120ms ease-in-out;
}
.roll-down{
    opacity: 1;
    top: 180%;
    transition: top 100ms ease-in-out, opacity 120ms ease-in-out;
}
.roll-up {
    opacity: 0;
    top: 100%;
    transition: top 100ms ease-in-out, opacity 120ms ease-in-out;
    pointer-events: none;
}