
div.mobile-new {
    /* background-color: #F1F1F1; */
    padding:18px 2px 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.mobile-new div.new-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 8px;
}
.mobile-new div.user {
    display: flex;
    padding: 18px 20px 5px;
    gap: 2vw;
    font-family: Capriola;
    align-items: center;
}
.mobile-new .user figure{
    width: 40px;
    height: 40px;
    background: rgb(55, 14, 109);
    border-radius: 50%;
}
.mobile-new .user .welcome{
   display: flex;
   /* flex-direction: column; */
   gap: 4px;
   align-items: center;
}
.mobile-new .user .welcome p{
   font-weight: light;
   font-size: 14px;
}
.mobile-new .user .welcome h3{
   color: rgb(42, 179, 101);
   font-size: 18px;
}
.mobile-new nav {
    align-items: center;
    padding: 8px 5px;
    margin-right: 10px;
    display: flex;
    color:white;
    justify-content: space-between;
    width: fit-content;
}
.mobile-new nav figure{
    margin-top: 12px;
    width: fit-content;
    height: fit-content;

}
.mobile-new nav button{
    color: slateblue;
    font-size: 23px;
    border: none;
    background-color: transparent;
    padding: 0px 8px;
}


.mobile-new .engagement-svg svg#menu {
    fill: rgb(75, 84, 94);
    width: 25px;
    height: 25px;
}
.mobile-new form.new-main {
    width: 92%;
    background-color: white;
    border-radius: 12px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 90vh;
}
.mobile-new div.heading-wrap {
    padding: 10px 14px;
    display: flex;
    justify-content:  space-between;
    align-items: center;
}
.mobile-new h3.heading {
    color: coral;
    font-family: ClashDisplay;

}
.mobile-new button#post {
    padding: 8px 21px;
    width: fit-content;
    border: none;
    background-color: slategray;
    color: white;
    font-size: 13px;
    font-weight: 600;
    border-radius: 20px;
    /* word-spacing:0.5; */
}
.mobile-new div.title-wrap{
     padding: 10px 17px ;
     /* border-bottom: 2px solid slategray; */
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     margin-top: 10px;
}
.mobile-new p.title {
    color: rgb(169, 178, 187);
    font-family: Inter;
     font-weight: 700;
    padding: 12px 0px ;
}
.mobile-new input#new-post-title {
    font-size: 16px;
    outline: none;
    padding: 10px 4px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom:1px solid salmon;
    border-top: none;
    border-left: none;
    border-right: none;
}
.mobile-new div.content-wrap{
    padding: 10px 14px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 10px;
}
.mobile-new p.content {
    color: rgb(169, 178, 187);
     font-family: Inter;
     font-weight: 700;
    padding: 12px 5px ;
}
.mobile-new textarea#new-post-body {
    font-size: 13px;
    outline: none;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border:1px solid salmon;
    border-radius: 11px;
}
.mobile-new div.hashtag-niche-wrap {
    padding: 10px 14px;
}
p.hashtag {
    display: inline-block;
    padding: 5px;
    color: black;
    margin: 3px 1px;
    font-family: Inter;
    font-size: 13px;
    font-weight: 600;
}
p.category {
    display: inline-block;
    padding: 5px 11px;
    background-color: salmon;
    color: white;
    border-radius: 16px;
    margin: 3px 5px;
    font-family: Inter;
    font-size: 13px;
    font-weight: 600;
}
.mobile-new input#hashtag {
    font-size: 16px;
    outline: none;
    padding: 10px 4px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom:1px solid salmon;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 5px;
}