
div.mobile-new {
    /* background-color: #F1F1F1; */
    padding:4px 2px 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.mobile-new div.new-header {
    display: flex;
    justify-content: space-between;
    width: 95%;
    align-items: center;
    padding:2px 8px 8px;
    box-sizing: border-box;
}
.mobile-new div.user {
    display: flex;
    padding: 12px 0px;
    gap: 15px;
    font-family: Capriola;
    align-items: center;
}
.mobile-new .user figure{
    width: 34px;
    height: 34px;
    background: rgb(55, 14, 109);
    border-radius: 50%;
}
.mobile-new nav {
    align-items: center;
    padding: 8px 3px;
    display: flex;
    color:white;
    gap : 18px;
    justify-content: space-between;
    width: fit-content;
}
.mobile-new button#post {
    padding: 11px 21px;
    width: fit-content;
    border: none;
    background-color: rgb(255, 255, 255);
    color: slategray;
    font-size: 13px;
    font-weight: 600;
    border-radius: 20px;
    box-shadow: 0px 0px 3px slateblue;
    /* word-spacing:0.5; */
}
.mobile-new nav div.icon-wrap{
    position: relative;
    margin-top: 3%;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}

.mobile-new .art::before{
    content: "";
    position: absolute;
    background-color:darkturquoise;
    width: 100%;
    border-radius: 3px;
    height: 31px;
    transform: rotate(-7deg) translateX(-20%) translateY(3%);
    box-shadow: 2px 2px 4px rgba(24, 28, 80, 0.747);
}
.mobile-new .art::after{
    content: "";
    position: absolute;
    background:linear-gradient(to bottom,#ffa90a,#7568cf);
    width: 100%;
    border-radius: 3px;
    height: 31px;
    transform: rotate(-14deg) translateX(-40%) translateY(6%);
    box-shadow: 2px 2px 4px rgba(24, 28, 80, 0.747);
}
.mobile-new .art{
    position: relative;
    top: -2px;
    background-color:rgb(190, 190, 190);
    width: 25px;
    border-radius: 3px;
    height: 31px;
    transform: rotate(8deg)  ;
    box-shadow: 2px 2px 6px rgba(24, 28, 80, 0.747);
    margin-left:16px ;
}











h2 {
    background-color: transparent;
    width: fit-content;
    padding: 0px;
    margin: 0px;
}



.mobile-new form.new-main {
    width: 100%;
     background-color: #F1F1F1;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 90vh;
    align-items: center;
}
.mobile-new div.heading-wrap {
    margin-top: 3px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 91%;
    box-sizing: border-box;
}
.mobile-new h3.heading {
    color: coral;
    font-family: ClashDisplay;
    
}
.mobile-new div.content-wrap{
    font-family: Inter;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-top: 1px;
}
.mobile-new div.hashtag-niche-wrap {
    padding: 10px 14px;
    display: block;
    width: 94%;
}
div.add-hashtags, div.add-categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}
.mobile-new p.hashtag {
    display: inline-block;
    padding: 5px;
    color: black;
    margin: 3px 1px;
    font-family: Inter;
    font-size: 13px;
    font-weight: 600;
    height: fit-content;
    width: fit-content;
}
.mobile-new p.category {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px 11px;
    background-color: slateblue;
    color: white;
    border-radius: 7px;
    margin: 3px 5px;
    font-family: Inter;
    font-size: 13px;
    font-weight: 600;
    /* height: fit-content;
    width: fit-content; */
}
.mobile-new button#hashtag {
    box-sizing: content-box;
    font-size: 16px;
    color: slateblue;
    cursor: none;
    outline: none;
    border-radius: 7%;
    padding: 4px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    font-size: 17px;
    width: 20px;
    height: 20px;
    text-align: center;
    display: inline-block;
    background-color: rgb(255, 255, 255);
}
