div.sign-header {
    background-color: slateblue;
    height:240px;
    border-radius:100% 0% 100% 0% / 0% 45% 55% 100%  ;
}

.sign-header h1{
    padding: 18px 30px;
    font-family:Pacifico;
    color: rgb(255, 197, 8);
    font-weight:bolder;
    font-size: x-large;
}

.sign-header h1 span {
    font-family: Pacifico;
    color: darkturquoise;
}
.sign-header p{
    margin-top: 5px;
    font-size: 34px;
    font-family: BrunoAce;
    padding:25px;
    color: white;
}
main.sign-main {
    padding: 20px;
}
.sign-main> div.signin,div.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
}
div.form {
    width: 75%;
    position: relative;
    margin-top: 11px;
}
.form p{
    font-size: 11px;
    color: rgb(42, 41, 41);
    font-weight: 500;
    padding: 4px 2px;
}
input {
    width: 90%;
    padding: 6px;
    border-radius: 4px;
    outline: none;
    background-color: transparent;
    border: 1px solid rgb(183, 174, 236);
}
div.login-options{
    width: 75%;
    margin-top: 15px;
}

