

div.sign-header {
    background-color: slateblue;
    height:240px;
    border-radius:100% 0% 100% 0% / 0% 45% 55% 100%  ;
}

.sign-header h1{
    padding: 18px 30px;
    font-family:Pacifico;
    color: rgb(255, 197, 8);
    font-weight:bolder;
    font-size: x-large;
}

.sign-header h1 span {
    font-family: Pacifico;
    color: darkturquoise;
}
.sign-header p{
    margin-top: 5px;
    font-size: 34px;
    font-family: BrunoAce;
    padding:25px;
    color: white;
}
main.sign-main {
    padding: 20px;
}
.sign-main> div {
    width: 100%;
    text-align: center;
}
.sign-main> div form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    width: 100%;
}
.inputdiv {
   margin-bottom: 20px;
   width: 70%;
   height: 30px;
   border-bottom: 1px solid slateblue;
   position: relative;
}
.inputdivfocus {
   margin-bottom: 20px;
   width: 70%;
   height: 30px;
   border-bottom: 1px solid slategray;
   position: relative;
}
.inputspan {
    transition: top 150ms linear;
    padding-left: 2px;
    position: absolute;
    top: -1px;
    color: slategray;
    font-size: 10px;
}
.inputspanfocus {
    transition: top 150ms linear;
    padding-left: 2px;
    position: absolute;
    top: 11px;
    color: slategray;
    font-size: 12px;
}
#inputdiv input {
    border: none;
    outline: none;
    position: absolute;
    background-color: transparent;
    height: 60%;
    top: 8px;
    width: 97%;
    padding: 0px 0px 1px 2px;
}
#inputdiv input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
#inputdiv #icon {
    display: inline-block;
    padding: 3px 10px;
    position: absolute;
    fill: black;
    left: 85%;
    top: 8px;
    z-index: 2;
}
#inputdiv div.engagement-svg svg{
    width: 18px;
    height: 18px;
}
form button{
    margin-top: 8px;
    width: 70%;
    padding:12px;
    color: white;
    background: slateblue;
    border-radius: 25px;
    border: none;
    font-size: 13px;
}
#inputdiv p#error {
    position: absolute;
    font-size: 10px;
    padding-left: 2px;
    top: 31px;
    font-style: italic;
    color: #de0000;
    font-weight: lighter;
}
form p#forgot{
    width: 70%;
    padding:4px;
    color: rgb(209, 0, 10);
    font-size: 11px;
}
div#google {
    width: 68%;
    display: flex;
    font-size: 13px;
    font-weight: 400;
    justify-content: center;
    gap: 8px;
    border: 1px solid black;
    border-radius: 30px;
    padding: 8px 4px;
}
div #sign-in-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    width: 100%; 
}


