div.explore-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
    position: relative;
    height: 100%;
    justify-content: flex-start;
    overflow-y: scroll;
}





.explore-page div.explore-heading{
    position: relative;
    opacity: 1;
    margin-top: 0px;
    transition: margin 300ms ease-in-out,opacity 300ms ease-in-out;
}
.explore-page div.explore-heading-tilt{
    position: relative;
    z-index: -5;
    margin-top: -164px;
    pointer-events: none;
    opacity: 0;
    transition: margin 300ms ease-in-out;
    height: 164px;
}
.explore-page .explore-heading div.search-link {
    padding:5px;
    margin: 20px auto 10px;
    width:88vw;
    box-shadow: 0 0 5px #d8d8d8;
    background-color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    border-radius: 9px;
}
.explore-page div.search-link figure{
    position: relative;
    top: 2px;
    opacity: 1
}
.explore-page .explore-heading h5#tag-text{
    width: 88vw;
    font-family: Noto Sans;
    margin: 15px 0px 5px;
    padding: 6px;
    font-size: 15px;
    font-weight: 500;
    box-sizing: border-box;
}
.explore-page .explore-heading div.explore-scroll{
    width: 88vw;
    margin: 4px 0px 20px 5px;
    display: flex;
    gap: 13px;
}
.explore-page .explore-heading div.explore-scroll > p{
    padding: 7px 9px;
    display: inline-block;
    background-color:#f1f1f1;
    color:#474747;
    border-radius: 5px;
    font-size: 13px;
    transition:background-color 150ms ease-out,color 150ms ease-out;
}
.explore-page .explore-heading div.explore-scroll > p.active{
    padding: 7px 9px;
    display: inline-block;
    background-color: slateblue;
    color:white;
    border-radius: 5px;
    font-size: 13px;
}








.explore-page  div.explore-actions{
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 6px;
    margin: 0px 4px;
    flex-grow: 1;
    overflow-y: scroll;
}
.explore-page  div.explore-actions p.tilt-back{
    position: fixed;
    margin: 20px;
    z-index: 1;
    bottom: 61px;
    right: 6px;
    transition:opacity  300ms ease-in-out;
}
.explore-page  div.explore-actions p.tilt-disabled{
    position: fixed;
    pointer-events: none;
    margin: 20px;
    opacity: 0;
    bottom: 61px;
    right: 6px;
    transition:opacity  300ms ease-in-out;
}
.explore-page .explore-actions div.explore-content{
    margin: 5px 0px ;
    position: relative;
    width: 100%;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.explore-page .explore-actions .explore-content div.e{
    width: 100%;
    margin-left: 12px;
}
.explore-page .explore-actions .explore-content .e p.choose-text{
    padding: 10px 10px 20px;
    color: #b9b9b9;
    font-size: 21px;
    width: 50vw;
}
.explore-page  div.explore-actions .explore-content .e > div.tag-container, div.people-container, div.publication-container {
    width: 88%;
    font-size: 13px;
    margin-left: 12px;
    margin-top: 10px;
}








/* TOPICS */
/* ====== */

.explore-page  div.explore-actions .explore-content  div.e button.tag{
    display: inline-block;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid rgb(144, 144, 144);
    border-radius: 9px; 
    margin: 0px 12px 12px 0px;
    font-size: 14px;
    box-shadow: 0px 0px 1px #cdcdcd;
    color: #474747;;
}
.explore-page  div.explore-actions .explore-content  div.e button.tag span{
    margin-right: 5px;
    position: relative;
    margin-left: -6px;
    top: 2px;
}
.explore-page .explore-actions .explore-content .e p.more{
    padding: 10px;
    font-size: 13px;
    font-family: Noto Sans;
    width: fit-content;
    color: darkorange;
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: center;
    transition:opacity  300ms ease-in-out;
}
.explore-page  div.explore-actions p.more-disabled{
    padding: 10px;
    font-size: 13px;
    font-family: Noto Sans;
    width: fit-content;
    color: darkorange;
    display: flex;
    align-items: center;
    opacity: 0;
    gap: 4px;
    justify-content: center;
    pointer-events: none;
    transition:opacity  100ms ease-in-out;
}
.explore-page .explore-actions .explore-content .e p.more span#plus{
    font-size: 20px;
    color: slateblue;
    position: relative;
    /* top: -1px; */
}








/* PEOPLE */
/* ====== */

.explore-page  div.explore-actions .explore-content  div.e div.person{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    border-top: 1px solid #b2b2b2;
    padding: 15px 0px;
    gap: 10px;
    width: 100%;
}
.explore-page  div.explore-actions .explore-content .e .person figure{
    width: 54px;
    border-radius: 50%;
    aspect-ratio: 1;
    position: relative;
    top: -4px;
    overflow: hidden;
    border: 1px solid darkturquoise;
}
.explore-page  div.explore-actions .explore-content .e .person figure img{
    width: 100%;
    height: 100%;
}

.explore-page  div.explore-actions .explore-content .e .person div.details{
    width: fit-content;
    margin-left: 10px;
}
.explore-page  div.explore-actions .explore-content .e .person div.details p.name{
    font-weight: 700;
}
.explore-page  div.explore-actions .explore-content .e .person div.details p.bio{

}
.explore-page  div.explore-actions .explore-content .e .person button.follow{
    background-color: orange;
    border-radius: 4px;
    border: none;
    padding: 4px 8px;
    font-size: 11px;
    color: #22157a;
}